<div class="content">
  <div class="row" style="margin-top:25px;">
    <div class="col-md-3">
      <div class="card" >
        <div class="card-header" style="justify-content: center;text-align: center;">
          <!-- <h6>NO of days taken</h6>fa fa-child -->
          <h3 style="font-size:large; justify-content: center;font-family: cursive"><i class="fas fa-icons bounce" style="font-size: 25px;"></i><strong> Casual leave</strong></h3>
          <h5 style="font-size: 17px;color: #898686;"> Jan {{year}} - Dec {{year}}</h5>
        </div>
        <div class="card-body" style="text-align: center;">
          <span class="text-success" style="font-size: 13px;">{{remainingcl}} days taken | <span class="text-danger" style="font-size: 13px;">{{expcl}} days in total</span></span>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" 
            attr.aria-valuenow ="{{calcl}}" [style.width]="calcl + '%'" aria-valuemin="0" attr.aria-valuemax="{{expcl}}" >{{calcl}}</div>
            <!-- <div class="progress-bar progress-bar-striped[style.width]="{{calcl}} + '%" progress-bar-animated" attr.aria-valuenow="{{calcl}}"style="width:40%"></div> -->
          </div>
        </div>
        <div class="card-footer">
          {{remainingcl}} days remaining
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header" style="justify-content: center;text-align: center;">
          <!-- <h6>NO of days taken</h6>'fas fa-procedures'fas fa-ambulance -->
          <h3 style="font-size:large;font-family: cursive"><i class='fas fa-procedures bounce' style="font-size:23px"></i><strong> Sick leave</strong></h3>
          <h5 style="font-size: 17px;color: #898686;"> Jan {{year}} - Dec {{year}}</h5>
        </div>
        <div class="card-body" style="text-align: center;">
          <span class="text-success" style="font-size: 13px;">{{remainingsl}} days taken | <span class="text-danger" style="font-size: 13px;">{{expsl}} days in total</span></span>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated active" role="progressbar" 
            attr.aria-valuenow ="{{calsl}}" [style.width]="calsl + '%'" aria-valuemin="0" attr.aria-valuemax="{{expsl}}" >{{calsl}}</div>
          </div>
        </div>
        <div class="card-footer">
          {{remainingsl}} remaining
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header" style="justify-content: center;text-align: center;">
          <!-- <h6>NO of days taken</h6> -->
          <h3 style="font-size:large;font-family: cursive"><i class="fa fa-plane bounce" style="font-size:25px;"></i><strong> Privilege leave</strong></h3>
          <h5 style="font-size: 17px;color: #898686;"> Jan {{year}} - Dec {{year}}</h5>
        </div>
        <div class="card-body" style="text-align: center;">
          <span class="text-success" style="font-size: 13px;">{{remainingpl}} days taken | <span class="text-danger" style="font-size: 13px;">{{exppl}} days in total</span></span>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info progress-bar-animated active" role="progressbar" 
            attr.aria-valuenow ="{{calpl}}" [style.width]="calpl + '%'" aria-valuemin="0" attr.aria-valuemax="{{exppl}}" >{{calpl}}</div>
          </div>
        </div>
        <div class="card-footer">
          {{remainingpl}} remaining
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header" style="justify-content: center;text-align: center;">
          <!-- <h6>NO of days taken</h6> -->
          
          <h3 style="font-size:111%;font-family: cursive"><i class='fas fa-history bounce' style='font-size:25px'></i><strong> Bereavement leave</strong></h3>
          <h5 style="font-size: 17px;color: #898686;"> Jan {{year}} - Dec {{year}}</h5>
        </div>
        <div class="card-body" style="text-align: center;">
          <span class="text-success" style="font-size: 13px;">{{remainingbl}} days taken | <span class="text-danger" style="font-size: 13px;">{{expbl}} days in total</span></span>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated active" role="progressbar" 
            attr.aria-valuenow ="{{calbl}}" [style.width]="calbl + '%'" aria-valuemin="0" attr.aria-valuemax="{{expbl}}" >{{calbl}}</div>
          </div>
        </div>
        <div class="card-footer">
          {{remainingbl}} remaining
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header" style="justify-content: center;text-align: center;">
          <!-- <h6>NO of days taken</h6> -->
          <h3 style="font-size:large;font-family: cursive"><i class="material-icons" style="font-size:30px;width:30px">pregnant_woman</i><strong>Maternity leave</strong></h3>
          <h5 style="font-size: 17px;color: #898686;"> Jan {{year}} - Dec {{year}}</h5>
        </div>
        <div class="card-body" style="text-align: center;">
          <span class="text-success" style="font-size: 13px;">{{remainingml}} days taken | <span class="text-danger" style="font-size: 13px;">{{expml}} days in total</span></span>
          <div class="progress">
             
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated active" role="progressbar" 
            attr.aria-valuenow ="{{calml}}" [style.width]="calml + '%'" aria-valuemin="0" attr.aria-valuemax="{{expml}}" >{{calml}}</div>
          </div>
        </div>
        <div class="card-footer">
          {{remainingml}} remaining
        </div>
      </div>
    </div>
  </div>

  <!-- <button type="button" class="btn btn-primary" routerlink="/applyleave" style="display:inline-flexbox"
  >Apply
    Leave</button> -->
<div class="avatar" data-label="" id="avatar">
</div>
</div>
<!-- <div class="content">
<div class="mat-grid-container">
  <mat-grid-list >
    <div class="card" cols="2" rowHeight="340px">
      <div class="card-header">
        <h6>NO of days taken</h6>
        <h3 style="font-size:large"><strong>Casual leave</strong></h3>
        <h5> Jan {{year}} - Dec {{year}}</h5>
      </div>
      <div class="card-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
        </div>
      </div>
      <div class="card-footer">
        {{remainingcl}} days remaining
      </div>
    
   
      <div class="card-header">
        <h6>NO of days taken</h6>
        <h3 style="font-size:large"><strong>Sick leave</strong></h3>
        <h5> Jan {{year}} - Dec {{year}}</h5>
      </div>
      <div class="card-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" style="width:40%"></div>
        </div>
      </div>
      <div class="card-footer">
        {{remainingsl}} remaining
      </div>
    </div>
  </mat-grid-list>
</div>
</div> -->






























<!--
<mat-toolbar style="background-color:rgb(64, 177, 221);">

  <img src="../../assets/calendaar.jpg" alt="calendar"><mat-toolbarpadding-left: 92px;
  <mat-toolbar-row>
    margin-left: 68rem;rgb(9, 9, 211)rgb(185, 189, 192);left:72rem;style="margin-left: 450px;"
    <button mat-button  style='color:rgb(0, 0, 7); '>
      <mat-icon style='font-size:30px;color:rgb(1, 1, 20);' (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h2 > Cape Electric Private Limited </h2>
    <button mat-button style="margin-left:auto;">
      <mat-icon mat-raised-button [matBadge]=notification [matBadgeHidden]="hidden" matBadgePosition="above after"
      matBadgeColor="accent" style='font-size:26px;color:rgb(1, 1, 17);' (click)="callCalculation()">
      notifications</mat-icon>
    </button>
    <button mat-button  style='color:rgb(0, 0, 7);' (click)="callProfile()">
      <mat-icon style='font-size:30px;color:rgb(1, 1, 20);margin-left:auto;' >person</mat-icon>
      <b style="font-size: 16px;">
        {{empid}}
      </b>
    </button>
  </mat-toolbar-row >
</mat-toolbar>
 *ngIf="tabName == 'Leave Management Systems'"
<mat-sidenav-container >
  <mat-sidenav mode="over" opened >
    <div mat-card-avatar class="example-header-image"></div>
    <img src="avatar.png" alt="Avatar" class="avatar">
        <div>
       <p>{{name}}</p> <p><b><i>Name</i></b></p>
        </div>

        <div>
         <p>{{department}}</p> <p><b><i>department</i></b></p>
        </div>
       <hr>
<button mat-button class="menu-button">
  <span> <b>Leave Policy</b></span>
</button>

<button mat-button class="menu-button" (click)="callholidays()">
  <span> <b>Public Holidays</b> </span>
</button>

<button mat-button class="menu-button">
  <span><b> My History </b></span>
</button>


</mat-sidenav>
     <mat-sidenav-content>
<h1><i class="bi bi-person-plus-fill"></i>Add New Employees</h1><button><mat-icon>plus</mat-icon></button>

    </mat-sidenav-content>
</mat-sidenav-container> -->
