/* m.modal-header{
  padding-left: 220px;
  background-color: #c5ccd4;
}
mat-sidenav{
  margin: 16px;
  width: 200px;
  border-right: none;
  background: rgb(92, 191, 230);
  color: rgb(12, 12, 12);
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}
.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

}
.sideme{
  padding-right: 440px;
  }
  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  } */

  /* .card{
    box-sizing: content-box;
  } */
 /* @media (max-width: 576px) {
    .xs {color:red;font-weight:bold;}
  } */

  /* Small devices (landscape phones, 576px and up) */
  /* @media (min-width: 576px) and (max-width:768px) {
    .sm {color:red;font-weight:bold;}
  } */

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint*/ 
  /* @media (min-width: 768px) and (max-width:992px) {
   .md {color:red;font-weight:bold;}
  } */

  /* Large devices (desktops, 992px and up) */
  /* @media (min-width: 992px) and (max-width:1200px) {
   .lg {color:red;font-weight:bold;}
  } */

  /* Extra large devices (large desktops, 1200px and up) */
  /* @media (min-width: 1200px) {
      .xl {color:red;font-weight:bold;}
  }  */
/* .bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
} */
.leftcolumn {   
  float: left;
  width: 75%;
 
}
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.card {
  
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Clear floats after the columns */
.row:after {
 content: "";
 display: table;
 clear: both;
}
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
    flex-direction: column;
    /* width: 100%; */
    /* display: block;
    margin-bottom: 20px; */
  }
}
/* .avatar{
  vertical-align: middle;
  font-size: 37px;
  width:20px;
  height:20px;
  border-radius:50%;
  background-color: rgb(1, 9, 24);
  display: inline-flex;
  justify-content: center;
  text-align: center;
  color: #0f0202;
  content:attr(data-label);
  font-family: 'Readex Pro', sans-serif;
} */






