<form [formGroup]="postleave">
  <div class="container">
    <!-- <h6 style="margin-left: 92%;color: #a6a2a2;"><strong>{{empid}}</strong></h6> -->
    <div class="card" style="margin-top:40px">  
      <p *ngIf="showErrorMessage" class="alert alert-danger alert-dismissible fade show"

                    style="text-align:center ;margin-left: 20px;margin-right:20px;"><strong>Error!</strong>

                    {{errorMessage}}</p>     
      <div class="card-body">
        <div class="row" style="justify-content:center;text-align: center;">
          <div class="col-md-12">
            <div class="formcontrol">
              <h2 style="justify-content:center;text-align: center;">Enter Leave Details here</h2>
            </div>
          </div>
        </div>
        <hr>
        <div class="row" style="justify-content:center;text-align: center;" >
          <div class="col-6" style="float: left;width: 25%;margin-top: 6px;" >
              <label><b>Select Employee </b></label>
            </div>
              <div class="col-7">
                <select class="formcontrol" (change)="selectToSend($event)" [(ngModel)]="defaultEmpid">
                  <option [ngValue]="null" disabled >Select Employee</option>
                  <option value="{{this.empid}}" selected>{{this.empid}} - {{this.name}}</option>
                  <option *ngFor="let team of members" value="{{team.empid}}">{{team.empid}} - {{team.name}}</option>
                </select>
            </div>
          </div>
        <div class="row" style="justify-content:center;text-align: center;">
          <div class="col-6" style="float: left;width: 25%;margin-top: 6px;">
            <label><b>Leave Type: </b></label></div>
            <div class="col-7" >
            <select class="formcontrol" formControlName="leaveType" style="height: 40px;
            float: left;width: 75%;margin-top: 6px;height: fit-content;" (change)="findifsick($event)">
              <option [ngValue]="null" disabled >Select leave type</option>
              <option value="casual">Casual Leave</option>
              <option value="sick">Sick Leave</option>
              <option value="bereavement">Bereavement Leave</option>
              <option value="privilege">Privilege Leave</option>
              <option value="maternity" *ngIf="noMatchGender">Maternity Leave</option>
            </select>
            <!-- <mat-form-field appearance="fill">
  <mat-select formControlName="leaveType"  [(ngModel)]="selectedItem" (select)="selected()">
    <mat-option value="casual">Casual Leave</mat-option>
    <mat-option value="sick">Sick Leave</mat-option>
    <mat-option value="bereavement">Bereavement Leave</mat-option>
    <mat-option value="privilege">Privilege Leave</mat-option>
    <mat-option value="maternity">Maternity Leave</mat-option>
  </mat-select>
</mat-form-field> -->
</div>
        </div>
<br>
<div class="row" style="justify-content:center;text-align: center;">
  <div class="col-6"  style="float: left;width: 24%;margin-top: 6px;">
    <label><b>Leave Duration: </b></label></div>
  <div class="col-7" style="display: inline-flex;">
<div class="form-check form-check-inline" style="justify-content:center;text-align: center;">
  <input class="form-check-input" type="radio" name="chooseDays"  value="FullDay" (click)="hideDays()"  
  formControlName="chooseDays" [(ngModel)]="findDays">
  <label class="form-check-label" for="inlineRadio1" style="display:contents">Full Day</label>
</div>
<div class="form-check form-check-inline" style="justify-content:center;text-align: center;">
  <input class="form-check-input" type="radio" name="chooseDays"  value="HalfDay" (click)="showDays()" 
  formControlName="chooseDays" [(ngModel)]="findDays">
  <label class="form-check-label" for="inlineRadio1" style="display:contents">Half Day </label>
</div>
<!-- <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
  <label class="form-check-label" for="inlineRadio1">Half in Afternoon</label>
</div> -->
</div>
</div>
<br>
        <div class="row" style="justify-content:center;text-align: center;">
          <div class="col-6"  style="float: left;width: 24%;margin-top: 6px;">
              <label><b>Date From:</b> </label></div>
              <div class="col-7">
                <mat-form-field style="height: 40px;float: left;width: 75%;padding-left: 9px" id="field">
                  <input matInput [matDatepicker]="picker" [matDatepickerFilter]="FrommyDateFilter" placeholder="Choose a date"
                  style="padding-left: 10px;height: 40px;margin-top: 6px;" [(ngModel)]="fromdate" id="date2"
                  formControlName="fromdate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
               
<!-- <input type="text"
placeholder="Datepicker"
class="form-control"
bsDatepicker
[daysDisabled]="[6,0]"
formControlName="fromdate"
> -->


<!-- <input class="form-control" placeholder="Daterangepicker" formControlName="fromdate" type="date"
bsDaterangepicker [daysDisabled]="[6,0]" [(ngModel)]="fromdate"> -->



                <!-- <input class="formcontrol" type="date" formControlName="fromdate" 
                style="height: 40px;float: left;width: 75%;margin-top: 6px;" [(ngModel)]="fromdate"> -->
                <input type="submit" (click)="getfirstnumber()" value="confirm" style="margin-top: 25px;">
                <br>
                <br>
                <br>
               
               
              
                <!-- min="{{CurrentDate|date:'yyyy-mm-dd'}}"| placeholder="Select your From date"> -->
                <!-- <mat-form-field appearance="fill">
                  <input matInput [matDatepicker]="dtAdm" [matDatepickerFilter]="myDateFilter" formControlName="dateOfAdmission">
                  placeholder="Daterangepicker" bsDaterangepicker [daysDisabled]="[6,0]"
                  <mat-datepicker-toggle matSuffix [for]="dtAdm"></mat-datepicker-toggle>
    <mat-datepicker #dtAdm ></mat-datepicker>
                </mat-form-field>  -->
              </div>
          </div>
        <!-- </div> -->

<div class="row" style="justify-content:center;text-align: center;" *ngIf="showMorning">
          <div class="col-6"style="float: left;width: 24%;margin-top: 6px;"></div>
          <div class="col-7" style="display: inline-flex;">
            <div class="form-check form-check-inline" style="justify-content:center;text-align: center;">
              <input class="form-check-input" type="radio" value="morningfromHalf" name="chooseFromDays" 
              formControlName="chooseFromDays" [(ngModel)]="findHalfDays">
              <label class="form-check-label" for="inlineRadio1" style="display:contents">Morning Half</label>
            </div>
            <div class="form-check form-check-inline" style="justify-content:center;text-align: center;">
              <input class="form-check-input" type="radio" value="afternoonfromHalf" name="chooseFromDays"  
              formControlName="chooseFromDays" [(ngModel)]="findHalfDays">
              <label class="form-check-label" for="inlineRadio1" style="display:contents">Afternoon Half</label>
            </div>
            <div class="form-check form-check-inline" style="justify-content:center;text-align: center;">
              <input class="form-check-input" type="radio" value="fromfull" name="chooseFromDays"  
              formControlName="chooseFromDays" [(ngModel)]="findHalfDays">
              <label class="form-check-label" for="inlineRadio1" style="display:contents">Full</label>
            </div>
  <!-- <mat-radio-group>
    <mat-radio-button value="morningfromHalf" name="chooseFromDays" 
  formControlName="chooseFromDays" [(ngModel)]="findHalfDays" >Morning Half</mat-radio-button>
    <mat-radio-button value="afternoonfromHalf" name="chooseFromDays"  
    formControlName="chooseFromDays" [(ngModel)]="findHalfDays">Afternoon Half</mat-radio-button>
  </mat-radio-group> -->

</div>
</div>
<br>
        <div class="row" style="justify-content:center;text-align: center;">
          <div class="col-6"style="float: left;width: 24%;margin-top: 6px;">
              <label><b>Date To:</b></label>
            </div>
            <div class="col-7">
              <mat-form-field style="height:40px; float: left; width: 75%;padding-left: 9px">
                <input matInput [matDatepicker]="pickers" [matDatepickerFilter]="TomyDateFilter" placeholder="Choose a date"
                style="padding-left: 10px;height: 40px;float: left;width: 75%;margin-top: 6px; " [(ngModel)]="todate" id="date1"
                formControlName="todate">
                <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                <mat-datepicker #pickers></mat-datepicker>
              </mat-form-field>
              <!-- <input class="formcontrol" type="date" formControlName="todate" 
              style="height: 40px;float: left;width: 75%;margin-top: 6px;" [(ngModel)]="todate"> -->
              <input type="submit" (click)="getsecondnumber()" value="confirm" style="margin-top: 34px;">
            </div>
          </div>
          <br>
          <br>
          <div class="row" style="justify-content:center;text-align: center;" *ngIf="showMorning">
            <div class="col-6"style="float: left;width: 24%;margin-top: 6px;"></div>
            <div class="col-7" style="display: inline-flex;">
              <div class="form-check form-check-inline" style="justify-content:center;text-align: center;">
                <input class="form-check-input" type="radio" value="morningtoHalf" name="chooseToDays"  
                formControlName="chooseToDays" [(ngModel)]="findHalfToDays">
                <label class="form-check-label" for="inlineRadio1" style="display:contents">Morning Half</label>
              </div>
              <div class="form-check form-check-inline" style="justify-content:center;text-align: center;">
                <input class="form-check-input" type="radio" value="afternoontoHalf" name="chooseToDays" 
                formControlName="chooseToDays" [(ngModel)]="findHalfToDays">
                
                <label class="form-check-label" for="inlineRadio1" style="display:contents">Afternoon Half</label>
              </div>
              <div class="form-check form-check-inline" style="justify-content:center;text-align: center;">
                <input class="form-check-input" type="radio" value="tofull" name="chooseToDays" 
                formControlName="chooseToDays" [(ngModel)]="findHalfToDays">
                <label class="form-check-label" for="inlineRadio1" style="display:contents">Full </label>
              </div>

    <!-- <mat-radio-group>
      <mat-radio-button value="morningtoHalf" name="chooseToDays"  
      formControlName="chooseToDays" [(ngModel)]="findHalfToDays">Morning Half</mat-radio-button>
      <mat-radio-button value="afternoontoHalf" name="chooseToDays" 
      formControlName="chooseToDays" [(ngModel)]="findHalfToDays">Afternoon Half</mat-radio-button>
    </mat-radio-group> -->
    <!-- <label class="form-check-label" for="inlineRadio1" style="display:contents" >Morning Half</label>
    <input class="form-check-input" type="radio"  name="todate"  value="Morning" formcontrolName="datenext">   
    
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label" for="inlineRadio1" style="display:contents" >Afternoon Half</label> 
    <input class="form-check-input" type="radio" name="todate"  value="Afternoon" formcontrolName="datenext">
   </div> -->
   </div>
  </div>
        <!-- </div>focusout -->
        <br>
        <br>
        <div class="row" style="justify-content:center;text-align: center;">
          <div class="col-6" style="float: left;width: 25%;margin-top: 6px;" >
              <label><b>Number of days: </b></label>
            </div>
              <div class="col-7">
              <input class="formcontrol" type="text" formControlName="noofdays" value={{countinNumber}} 
              style="height: 40px;float: left;width: 75%;margin-top: 6px;" (click)="getnumber()" readonly 
              placeholder="Click here..... "><br><br>
              <p *ngIf="showGetNumberError" style="color:red;"><b>Click confirm once date is selected...!!!!</b></p>
            </div>
          </div>
 <br>

        <div class="row" style="justify-content:center;text-align: center;">
          <div class="col-6"  style="float: left;width: 25%;margin-top: 6px;">
              <label><b>Leave Reason: </b></label></div>
              <div class="col-7">
              <textarea formControlName="reasonforapply"
              style="height: 40px;float: left;width: 75%;margin-top: 6px;"></textarea>
          </div>
        </div>
      
        <br>
        <hr>
        <div class="row" style="justify-content:center;text-align: center;">
          <div class="col-md-12">
            <button type="button" class="btn btn-danger" id="cancel"(click)="pageNavigate()" style="margin-right: 23px;">Cancel</button>
            <button type="button" class="btn btn-primary" style="margin-right: 23px;" *ngIf="hideIfnotme" (click)="save()">Save changes</button>
             <button type="button" class="btn btn-success"(click)="leaveApply(success,failure,onbehalf)" style="margin-right: 23px;" *ngIf="hideIfsick"> Apply leave</button>
          </div>
        </div>
      </div>
<br>
    </div>
   <br>
   <br> 

  <!-- <div class="modal-content" style="left: 380px;"  *ngIf="modeModal">
  <div class="modal-header" style="text-align:center;"><b> Enter Leave Details Here
  </b>
  </div>
  <div class="modal-body">
    <label> Leave Type </label>
    <mat-form-field appearance="fill">
      <mat-select formControlName="leaveType"  [(ngModel)]="selectedItem" (select)="selected()">
        <mat-option value="casual">Casual Leave</mat-option>
        <mat-option value="sick">Sick Leave</mat-option>
        <mat-option value="bereavement">Bereavement Leave</mat-option>
        <mat-option value="privilege">Privilege Leave</mat-option>
        <mat-option value="maternity">Maternity Leave</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <br>
    <label>Number of days : </label>
    <input type="number" formControlName="noofdays">
   <br>
   <br>
    <label style="margin-right:5px;">From Date: </label>
    <input type="date" formControlName="fromdate">
  <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="myDatePicker">
      <mat-datepicker-toggle  [for]="myDatePicker" matSuffix ></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>

  <label style="margin-left: 20px;margin-right:5px;"> To Date: </label>
    <input type="date" formControlName="todate">

    <br>
<br>
 <h3>Reason for applying leave</h3>
<textarea matInput placeholder="Reason ..."></textarea>
 <div class="row">
<div class="col-md-12">
<label >Reason for applying leave</label>
  <textarea type="text" class="form-control" placeholder="Enter Reason Here..." formControlName="reasonforapply"></textarea>
</div>
</div>
  </div>

  <div class="modal-footer">
   <button type="button" class="btn btn-danger" id="cancel"(click)="cancel()">Cancel</button>
   <button type="button" class="btn btn-primary">Save changes</button>
    <button type="button" class="btn btn-success"(click)="leaveApply()"> Apply leave</button>
  </div>-->
</div>
</form>


<ng-template #failure let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">NOTE</h4>
  </div>
  <div class="modal-body">
    The leave which your are selected is unavailable. You will get Loss of pay if you proceed.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="proceed()">proceed</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">cancel</button>
  </div>
</ng-template>

<ng-template #success let-modal>
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">
      <i class="bi bi-check-circle" style='font-size:48px;color:green;margin-left: -22px;'></i>
    </div>
  </div>
  <div class="modal-body" style="text-align:center">
    Your Leave has been successfully Updated.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" style="text-align: center;justify-content: center;" (click)="ok()">OK</button>
  </div>
</ng-template>

<ng-template #onbehalf let-modal>
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">
      <i class="bi bi-check-circle" style='font-size:48px;color:green;margin-left: -22px;'></i>
    </div>
  </div>
  <div class="modal-body" style="text-align:center">
  Are you sure you want to proceed request for {{this.defaultEmpid}} ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" style="text-align: center;justify-content: center;" (click)="onbehalfAprroved(update)">OK</button>
    <button type="button" class="btn btn-primary" style="text-align: center;justify-content: center;" (click)="cancel()">Cancel</button>
  </div>
</ng-template>

<ng-template #update let-modal>
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">
      <i class="bi bi-check-circle" style='font-size:48px;color:green;margin-left: -22px;'></i>
    </div>
  </div>
  <div class="modal-body" style="text-align:center">
<ul>

</ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" style="text-align: center;justify-content: center;" (click)="onAprroved()">OK</button>
    <button type="button" class="btn btn-primary" style="text-align: center;justify-content: center;" (click)="cancel()">Cancel</button>
  </div>
</ng-template>