
<div style="overflow: hidden;">
  <div [ngStyle]="{'filter': (blurMode ? 'blur(1px)' : 'blur(0px)') ,'pointer-events': (blurMode ? 'none' : 'visible')}">
  <div class="loader" *ngIf="spinner" style="overflow: inherit;margin: 0px auto;position: fixed;z-index: 1000;top: 40%;">

  </div>
<div class="row" style="background-color:#d9e6e6;">
  <style>
    .blink {
      animation: blinker 1.5s linear infinite;
      color:rgb(226, 101, 142);
      font-size: xx-large;text-align:center ;font-style:inherit ;margin-inline-start: 5px ;
    }
    @keyframes blinker {
      50% {
          opacity: 0;
      }
    }
    </style>
    <body>
      <p class="blink"> <i style='font-size:30px' class='fas'>&#xf2b9;</i> HISTORY DETAILS</p>
    </body>
    
  <div class="col-md-12 justify-content-center text-center" >
    <button *ngIf="delShow" class="btn btn-danger" title="deleteHistory" (click)="deleteAllHistory(DeleteTemplate)">
      <i class="fa fa-trash" aria-hidden="true"></i></button>
  
    <button *ngIf="delShow" class="btn btn-info btn-lg" style="bottom:3px;margin: 5px;top:0.5px" title="downloadPdf"id="download" (click)="downloadPdf()">
      <i class="fa fa-download" aria-hidden="true"></i></button>
  
    <button class="btn btn-danger"  (click)="back()" title="back"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
  </div>
</div>

<!-- <p *ngIf="emptyMessage" style="font-size: xx-large; text-align: center; overflow: inherit;z-index: 1000;top: 50%;"> your leave history data is empty</p> -->


    <mat-sidenav-container class="example-container" [autosize]="autosize" fxFlexFill>
      
  
      <mat-sidenav mode="side" opened="true" class="desktopDisplay" *ngIf="hideShow"
      [ngStyle]="{'width': isExpanded ? '295px' : (!isExpanded && isShowing ? '295px' : '60px')}"
    (mouseenter)="mouseenter()" (mouseleave)="mouseleave($event)">
    
    <!-- <mat-list-item (click)="showSubmenu = !showSubmenu" 
     style="padding: 5px;">
      <div class="col-md-2" style="position: sticky;">
        <button class="btn btn-info"
        style="float: left;padding: 3px 5px 3px 5px;
        margin: 5px 4px 5px -8px;">
        <span><i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
        </button>
        </div>
        <div *ngIf="isExpanded || isShowing">
          <span class="full-width" >DatePicker </span>
          <mat-form-field appearance="fill" (keyup)="datechanger()" >
            <mat-label  >Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker" (click)="detectFun()">
              <input [(ngModel)]="fromDate" matStartDate formControlName="start" placeholder="Start date">
              <input  [(ngModel)]="toDate" matEndDate formControlName="end" placeholder="End date">
              
            </mat-date-range-input>
            <button type="button" (click)="date()"> confirm</button>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      
    </mat-list-item> -->
  
    <mat-list-item (click)="showSubmenu = !showSubmenu" 
    style="padding: 5px;">
     <div class="col-md-2" style="position: sticky;">
       <button class="btn btn-info"
       style="float: left;padding: 3px 5px 3px 5px;
       margin: 5px 4px 5px -8px;">
       <span><i class="bi bi-geo-alt-fill"></i>
       </span>
       </button>
       </div>
       <div *ngIf="isExpanded || isShowing">
       <span class="full-width" style="font-weight: bold;" >MultiSelectFilter </span>
    
    <div>
     <ul *ngFor="let group of arr; index as i">
   
      <span class="font-weight-bold text-primary ">{{group.name}}</span>
      <li *ngFor="let item of group.items; index as j">
        <span class="cursor-pointer caret"
          [ngClass]="item.expand ? 'fas fa-caret-down' : 'fas fa-caret-right'"
          (click)="item.expand = !item.expand"></span>
        <span class="mx-1" [ngClass]="item.checked ? 'fas fa-check-square' : 
          (checkMinusSquare(item) ? 'fas fa-minus-square' : 'far fa-square')"
          (click)="checkParent(i, j)">
        </span>
        <span class="cursor-pointer" (click)="item.expand = !item.expand">{{item.name}} </span>
        <ul [class.d-none]="item.expand">
          
          <li *ngFor="let child of item.childs; index as k">
            <span class="cursor-pointer caret"
            [ngClass]="child.expand ? 'fas fa-caret-down' : 'fas fa-caret-right'"
            (click)="child.expand = !child.expand"></span>
       
            <span class="mr-1" [ngClass]="child.checked ? 'fas fa-check-square' : 'far fa-square'"
              (click)="checkChild(i,  j, k )">
            </span>
            <span class="cursor-pointer" (click)="checkChild(i, j, k )">{{child.name}} </span>

            <ul *ngIf="child.name=='country'"[class.d-none]="child.expand">
          
              <li *ngFor="let child1 of child.childs; index as l">
                 <span class="cursor-pointer caret"
                [ngClass]="child1.expand ? 'fas fa-caret-down' : 'fas fa-caret-right'"
                (click)="child1.expand = !child1.expand"></span>
           
                 <span class="mr-1" [ngClass]="child1.checked ? 'fas fa-check-square' : 'far fa-square'"
                  (click)="checkChild2(i,  j, k,l )">
                </span>  
                <span class="cursor-pointer" (click)="checkChild2(i, j, k,l )">{{child1.name}} </span>
                <ul [class.d-none]="child1.expand">
          
                  <li *ngFor="let child2 of child1.stateList; index as m">
                     <span class="cursor-pointer caret"
                    [ngClass]="child2.expand ? 'fas fa-caret-down' : 'fas fa-caret-right'"
                    (click)="child2.expand = !child2.expand"></span>
               
                     <span class="mr-1" [ngClass]="child2.checked ? 'fas fa-check-square' : 'far fa-square'"
                      (click)="checkChild3(i,  j, k,l,m )">
                    </span>  
                    <span class="cursor-pointer" (click)="checkChild3(i, j, k,l,m )">{{child2.name}} </span>
                    <ul [class.d-none]="child1.expand">

                      <li *ngFor="let child3 of child2.cityList; index as n">
                         <span class="cursor-pointer caret"
                        [ngClass]="child3.expand ? 'fas fa-caret-down' : 'fas fa-caret-right'"
                        (click)="child3.expand = !child3.expand"></span>
                   
                         <span class="mr-1" [ngClass]="child3.checked ? 'fas fa-check-square' : 'far fa-square'"
                          (click)="checkChild4(i,  j, k,l,m,n)">
                        </span>  
                        <span class="cursor-pointer" (click)="checkChild4(i, j, k,l,m,n)">{{child3.name}} </span>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    </div>
       </div>
    </mat-list-item>
    <mat-list-item (click)="showSubmenu = !showSubmenu" 
    style="padding: 5px;">
     <div class="col-md-2" style="position: sticky;">
       <button class="btn btn-info"
       style="float: left;padding: 3px 5px 3px 5px;
       margin: 5px 4px 5px -8px;">
       <span><i class="fa fa-calendar" aria-hidden="true"></i>
       </span>
       </button>
       </div>
       <div *ngIf="isExpanded || isShowing">
      <div class="date" style="font-weight: bold;"> <span class="full-width">DatePicker   </span></div> 
    <div class="row" [formGroup]="dateRange" style="background: #d9e6e6;height: 8%;">
      <div class="row">
        <span>FromDate </span>
        <input type="date" formControlName="startDate" (change)="FromDate($event)"
         [ngClass]="{'is-invalid': submitted && f.startDate.errors}" />
         <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
            <div *ngIf="f.startDate.errors"> Date Required</div>
         </div>
      </div>
      <div class="row">
        <span>ToDate </span>
        <input type="date" formControlName="endDate" (change)="filterToDates($event)"
        [ngClass]="{'is-invalid': submitted && f.endDate.errors}" />
        <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
          <div *ngIf="f.endDate.errors"> Date Required</div>
       </div>
      </div>
      <div class="col" style="padding-top: 22px;" (click)="date()" ><i class="fa fa-check" aria-hidden="true"></i>
       </div>
      <div class="col" style="padding-top: 22px;"(click)="reset()"><i class="fa fa-refresh" aria-hidden="true"></i>
      </div>
    </div>
       </div>
    </mat-list-item>
      </mat-sidenav>
      
  <div>
    </div>
  <!-- <mat-table #table [dataSource]="dataSource" > -->
    <mat-sidenav-content fullscreen fxFlexFill id="destination" class="pagePadding" >
  <mat-tab-group style="background-color:#EAF4F4;" mat-align-tabs="center" (selectedTabChange)="tabClick($event)">
    <div class="container"> 
      <div class="table"> 

        <mat-tab label="My History">
           <p *ngIf="emptyMessage || viewer" style="font-size: xx-large; text-align: center; overflow: inherit;z-index: 1000;top: 50%;"> Your leave history data is empty</p>
          <div *ngIf="!emptyMessage ||viewer" class="example-container mat-elevation-z8"> 
            <mat-table #table [dataSource]="dataSource1">
              <div class="mat-elevation-z8" matSort #historySort="matSort" style="margin-left:10 rem;">
                <div class="success:hover">
                  <ng-container matColumnDef="empId" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;display: inline-flexbox;">
                      empId </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">empId</span> {{element.empid}} </mat-cell>
                  </ng-container>
    
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium; background-color:#A4C3B2; "> Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">Name</span> {{element.name}} </mat-cell>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="appliedDate">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2; display:inline-flex;">
                      Applied Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                      <span class="mobile-label">Applied Date</span>{{element.createddate | date:'shortDate'}}</mat-cell>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="approvedDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> Approved Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">Approved Date</span> {{element.approveddate | date:'shortDate'}} </mat-cell>
                  </ng-container>

                  <!-- fromDate Column -->
                  <ng-container matColumnDef="fromDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> From Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                      <span class="mobile-label">From Date</span>{{element.fromdate | date:'shortDate'}} </mat-cell>
                  </ng-container>

                  <!-- toDate Column -->
                  <ng-container matColumnDef="todate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> To Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label"> To Date</span> {{element.todate | date:'shortDate'}} </mat-cell>
                  </ng-container>

                  <!-- noOfDays Column -->
                  <ng-container matColumnDef="noOfDays">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> No Of Days
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">No Of Days</span> {{element.noofdays}} </mat-cell>
                  </ng-container>

                  <!-- lopDays Column -->
                  <ng-container matColumnDef="lopdays">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> LOP Days
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">LOP Days</span> {{element.lopdays}} </mat-cell>
                  </ng-container>

                  <!-- status Column -->
                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"
                      [ngStyle]="{'color': element.status == 'APPROVED'? 'green' : null || element.status == 'CANCELLED'? 'red': null || element.status == 'PENDING'? '#ff9900': null}"
                      id="font">
                      <span class="mobile-label">Status</span> {{element.status}} </mat-cell>
                  </ng-container>
    
                  <!-- approvedBy Column -->
                  <ng-container matColumnDef="approvedBy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size:medium;background-color:#A4C3B2;"> Approved By
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">Approved By</span>{{element.approvedby}} </mat-cell>
                  </ng-container>

                  <!-- department Column -->
                  <ng-container matColumnDef="department">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> Department
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">Department</span> {{element.department}} </mat-cell>
                  </ng-container>

                  <!-- leaveType Column -->
                  <ng-container matColumnDef="leaveType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> Leave Type
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">Leave Type</span> {{element.leaveType}} </mat-cell>
                  </ng-container>

                  <!-- reasonForApply Column -->
                  <ng-container matColumnDef="reasonForApply">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> Reason
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">Reason</span> {{element.reasonforapply}} </mat-cell>
                  </ng-container>

                  <!-- location Column -->
                  <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> Location
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">Location</span> {{element.location}} </mat-cell>
                  </ng-container>
                </div>
                <mat-header-row *matHeaderRowDef="displayedColumnsForUser sticky:true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsForUser;"
                  [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"></mat-row>
                <mat-row class="mat-row" *matNoDataRow></mat-row>
              </div>
            </mat-table>
          </div>
          <mat-paginator #historyPaginatorAdmin [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
          </mat-paginator>
        </mat-tab>  
      </div>
    </div>
  
    <div class="container" *ngIf="!viewer">
      <div class="table">
       
        <mat-tab label=" Employee's History" >
          <p *ngIf="userEmptyMessage" style="font-size: xx-large; text-align: center; overflow: inherit;z-index: 1000;top: 50%;"> Your leave history data is empty</p>
          <div *ngIf="!userEmptyMessage"class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource2">
              <div class="mat-elevation-z8" matSort #historySort="matSort" style="margin-left:10 rem;">
                <div class="success:hover">
                  <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef  style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;display: inline-flexbox;">
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                      </mat-header-cell>
                    
                    <mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation() "
                                    (change)="$event ? selection.toggle(row) : selectedRow.push(row)"
                                    [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                      </mat-cell>
                      </ng-container>


                  <ng-container matColumnDef="empId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;display: inline-flexbox;">
                      empId </mat-header-cell>
                      
                    <mat-cell  *matCellDef="let element">
                      <span class="mobile-label">empId </span> {{element.empid}} </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium; background-color:#A4C3B2; "> Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                      <span class="mobile-label"> Name</span>{{element.name}} </mat-cell>
                  </ng-container>
      
                  <!-- Weight Column -->
                  <ng-container matColumnDef="appliedDate">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2; display:inline-flex;">
                      Applied Date </mat-header-cell>
                    <mat-cell  *matCellDef="let element">
                      <span class="mobile-label">Applied Date</span> {{element.createddate | date:'shortDate'}}</mat-cell>
                  </ng-container>
      
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="approvedDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color: #A4C3B2;"> Approved Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">Approved Date</span> {{element.approveddate | date:'shortDate'}} </mat-cell>
                  </ng-container>

                <!-- fromDate Column -->
                  <ng-container matColumnDef="fromDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> From Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">From Date</span> {{element.fromdate | date:'shortDate'}} </mat-cell>
                  </ng-container>

                  <!-- toDate Column -->
                  <ng-container matColumnDef="todate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> To Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">To Date</span> {{element.todate | date:'shortDate'}} </mat-cell>
                  </ng-container>

                  <!-- noOfDays Column -->
                  <ng-container matColumnDef="noOfDays">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> No Of Days
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label"> No Of Days</span> {{element.noofdays}} </mat-cell>
                  </ng-container>

                  <!-- lopDays Column -->
                  <ng-container matColumnDef="lopdays">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> LOP Days
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label"> LOP Days</span> {{element.lopdays}} </mat-cell>
                  </ng-container>

                  <!-- status Column -->
                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"
                      [ngStyle]="{'color': element.status =='APPROVED'? 'green' : null || element.status =='CANCELLED'? 'red': null || element.status =='PENDING'? '#ff9900': null}"
                      id="font">
                      <span class="mobile-label">Status</span> {{element.status}} </mat-cell>
                  </ng-container>

                  <!-- approvedBy Column -->
                  <ng-container matColumnDef="approvedBy">
                      <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size:medium;background-color:#A4C3B2;"> Approved By
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">Approved By</span>{{element.approvedby}} </mat-cell>
                  </ng-container>

                  <!-- department Column -->
                  <ng-container matColumnDef="department">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> Department
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" formControlName="department">
                      <span class="mobile-label">Department</span> {{element.department}} </mat-cell>
                  </ng-container>

                  <!-- leaveType Column -->
                  <ng-container matColumnDef="leaveType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> Leave Type
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label"> Leave Type</span> {{element.leaveType}} </mat-cell>
                  </ng-container>

                  <!-- reasonForApply Column -->
                  <ng-container matColumnDef="reasonForApply">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> Reason
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span class="mobile-label">Reason</span> {{element.reasonforapply}} </mat-cell>
                  </ng-container>

                  <!-- location Column -->
                  <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> Location
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                      <span class="mobile-label">Location</span>{{element.location}} </mat-cell>
                  </ng-container>
      
                  <!-- delete Column -->
                  <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                      style="font-weight:bold;color:black;font-size: medium;background-color:#A4C3B2;"> Action
                    </mat-header-cell>
                    <mat-cell style="width: auto; text-align:justify; padding:auto;" mat-cell *matCellDef="let element">
                      <span class="mobile-label">delete</span>
                      <mat-icon class="material-icons-outlined-danger delete" (click)="deleteTempl(ChangetheStatus)"
                        *ngIf="enableDelete" title="Delete The Record"
                        style="margin-inline-start:1rem;cursor:pointer;color: red;">delete</mat-icon>
                        <ng-template #ChangetheStatus let-modal> 
                          <div>
                            <p  style="justify-content: center;text-align: center;margin-top: 20px;">Click Yes to delete Employee history or Click No to change employee status?</p>
                            <div class="row" style="margin-bottom: 20px;">
                                <div class="text-center justify-content-center col-md-12">
                                  <button type="button" class="btn btn-primary" (click)="deleteHistory(element.historyid)">Yes</button>
                                  <button type="button" style="margin-left: 10px;" (click)="updatecalculation(element.historyid,element.empid,element.status)" class="btn btn-danger">No</button>
                                  <button type="button" class="btn btn-danger" (click)="closeTemp()">Cancel</button>
                                </div>
                            </div>
                          </div>
                        </ng-template>
                    </mat-cell>
                  </ng-container>
                </div>
              
                <mat-header-row *matHeaderRowDef="displayedColumnsForAdmin sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsForAdmin;" (dblclick)="selectedRow.push(row) "
                  [style.background]="selectedRow.indexOf(row)!= -1 ? 'LightBlue': '' "
                  (click)="selectedRow.pop(row)" (click)="selection.toggle(row)"
                  [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)=" row.hovered =true "(mouseout)="row.hovered = false">
                  
                  </mat-row>
                <mat-row class="mat-row" *matNoDataRow>
                </mat-row>
              </div>
            </mat-table>
          </div>
          <mat-paginator #historyPaginatorUser [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
          </mat-paginator>
        </mat-tab>
        </div> 
    </div>
   
    </mat-tab-group>
  </mat-sidenav-content>
    </mat-sidenav-container>
</div>
  </div>
  


<ng-template #DeleteTemplate let-modal> 
  <div>
    <p  style="justify-content: center;text-align: center;margin-top: 20px;">Are You sure want to Delete Employee's History?</p>
     <div class="row" style="margin-bottom: 20px;">
         <div class="text-center justify-content-center col-md-12">
           <button type="button" class="btn btn-primary"(click)="selectedDeleterows()">Yes</button>
           <button type="button" style="margin-left: 10px;" class="btn btn-danger"  (click)="closeTemp()">No</button>
         </div>
     </div>
  </div>
</ng-template>





