/* 
.mat-elevation-z8{
    width: 5px;
    margin-left:10px;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-left: 10px;
    font:10px;
}
/* table {
  width: 95%;
  font:5px;
  }
  
  table td,
  table th {
    padding: 1px 5px;
  } */
  /* .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  

 
  #font{
    font-weight: bolder;
    font-size: 12px;
  }
  .mat-header-cell {
    background: var(--background-color)
}

h1{
    padding-bottom: 20px;
}
 .success:hover{
 background-color: rgb(28, 224, 28);
}

 mat-table {
 background-color : rgb(180, 180, 180);
}

 */ 
 .example-container {
  display: flexbox;
  flex-direction: column;
    height: 400px;
    overflow: auto;
 }
  
  table {
    width: 100%;
    table-layout: fixed;
  }
  


h1 {
  justify-content: center;
  margin-top: 60px;
  
}


/* .mat-table {
  overflow: auto;
  max-height: 600px;
  margin-left: 50px;
  padding-right:10px ;
 
} */


.mobile-label {
display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
        
  }
  .picker{
    right: 1185px;
  }
/*  */
 
  /* th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  } */

  .mat-header-row {
    display: none;
    margin-right: 50px;
    table-layout: fixed;
  } 

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }


  }
  /* th, td {
    text-align: left;
    padding: 8px;
  }
   */
  tr:nth-child(even) {background-color: #f2f2f2;}
  #myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
   background: #ada9a9;
  }
  .mat-row:hover{
  
    background-color:rgb(172, 167, 167);
  }
  .mat-row{
    background-color:#f2f2f2;
  
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    margin: bottom;
    margin-bottom: 80px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }
  .text-primary{
    margin-left: -27px;

  }
  
  /* .header-align-right {
      text-align: center;
      justify-content: flex-end;
    } */
  

 .col-md-12{
  margin-left: 30%;
  margin-right: 55px;
 }
 #download{
  position: relative;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
 margin-left: 5px;
 

 }
 #filter{
  margin-left: 20px;
 }
 .mat-label{
  border-color: black;
  font-weight:10px ;
 }
.AdminTab .mat-tab-label{
  background-color: bisque;
  font-weight: 10px;

}

/* Css mat tab */
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;

}
h2 {
  justify-content: center;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  border: ridge;
  


}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
   
  }

#back{
margin-top:15px;
  margin-left: 50%;
}
  }
#card{
  place-content: center;
  border-radius: 9px;
  display: inline-block;
  margin-left: 612px;
  padding-left: 10px;
  top: 272px;
  padding-right: 10px;
  background-color: aqua;
  }

.mat-tab-labels{
  background-color: rgb(118 189 195);

}
/* Spinner Code */
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #131396;
  border-bottom: 10px solid #812323;
  width: 60px;
  height: 60px;
  position: relative;
  left: 47%;
  animation: spin 1s linear infinite;
}
.picker{
  
    position: absolute;
    right: 1185px;
    top: 4%;
    width: 230px;
    padding: 10px;
    margin-top: 19px;
  }


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.mat-header-row,
.mat-footer-row,
.mat-row {
  min-width: 1920px;
}

@media (max-width: 1200px) {
  .mat-header-row,
  .mat-footer-row,
  .mat-row {
    min-width: 2500px;
  }
}

@media (max-width: 992px) {
  .mat-header-row,
  .mat-footer-row,
  .mat-row {
    min-width: 3000px;
  }
}

@media (max-width: 768px) {
  .mat-header-row,
  .mat-footer-row,
  .mat-row {
    min-width: 4000px;
  }
}
.tableFixHead,
.tableFixHead td {
  box-shadow: inset 1px -1px #000;
}
.tableFixHead th {
  box-shadow: inset 1px 1px #000, 0 1px #000;
}

 