<html>

<body>
    <p *ngIf="showErrorMessage1;then template" class="alert alert-danger alert-dismissible fade show"
                    style="text-align:center ;margin-left: 20px;margin-right:20px;"><strong>Error!</strong>
                    {{errorMessage1}}</p>
    <div class="card" *ngIf="loginPage">



        <div class="wrapper"><br>
            <div class="title"><span>LOGIN HERE!!</span></div>
            <hr>
            <form [formGroup]="loginForm">
                <p *ngIf="errorMsgLogin" class="alert alert-danger alert-dismissible fade show"
                style="text-align:center ;margin-left: 20px;margin-right:20px;">Please Select Email,EmpId or mobileNumber 
                to proceed further!</p>
                <p *ngIf="showErrorMessage" class="alert alert-danger alert-dismissible fade show"
                    style="text-align:center ;margin-left: 20px;margin-right:20px;"><strong>Error!</strong>
                    {{errorMessage}}</p>
                <div class="row">
                    <label class="form-label">Preffered Login</label>

                    <mat-radio-group class="example-section" formControlName="userValidation"
                        (change)="validate($event)">
                        <mat-radio-button class="btn1" value="empid">EmpId</mat-radio-button>
                        <mat-radio-button class="btn2" value="mobileNumber">Mobile Number</mat-radio-button>
                        <mat-radio-button class="btn3" value="email">Email</mat-radio-button>
                    </mat-radio-group>

                    <div *ngIf="submitted && f.userValidation.errors" class="invalid-feedback">
                        <div *ngIf="f.userValidation.errors['required']">Select any One</div>
                    </div>
                </div>



                <div class="row" *ngIf="f.userValidation.value=='empid'">


                    <label class="form-label">EmpId</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input type="text" name="empid" class="form-control" formControlName="empid"
                            placeholder="Enter Your Email Id or Emp Id" [(ngModel)]="user.empId"
                            [ngClass]="{ 'is-invalid': submitted && f.empid.errors }">
                        <div *ngIf="submitted && f.empid.errors" class="invalid-feedback">
                            <div *ngIf="f.empid.errors['required']">Empid is required</div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div *ngIf="f.userValidation.value=='mobileNumber'">
                        <label class="form-lable">Mobile Number</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-telephone"></i>
                                </span>
                            </div>
                            <input formControlName="mobileNumberLogin" [(ngModel)]="user.mobileNumber"
                                placeholder="Enter Your Mobile Number" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.mobileNumberLogin.errors }">
                            <div *ngIf="submitted && f.mobileNumberLogin.errors" class="invalid-feedback">
                                <div *ngIf="f.mobileNumberLogin.errors['required']"> Mobile Number is required</div>
                                <div *ngIf="f.mobileNumberLogin.errors['pattern']">Mobile Number should be in 10 Numbers
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div *ngIf="f.userValidation.value=='email'">
                        <label class="form-lable">Email</label>
                        <div class="input-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-envelope"></i>
                                </span>
                            </div>

                            <input type="email" formControlName="emailidLogin" class="form-control"
                                placeholder="Enter your  Email" [(ngModel)]="user.email"
                                [ngClass]="{ 'is-invalid': submitted && f.emailidLogin.errors }">
                            <div *ngIf="submitted && f.emailidLogin.errors" class="invalid-feedback">
                                <div *ngIf="f.emailidLogin.errors['required']">Email is required</div>
                                <div *ngIf="f.emailidLogin.errors['pattern']" style="color: gold;">Ex.name@gmail.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">


                    <label class="form-label">Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-lock"></i>
                            </span>
                        </div>
                        <input type="password" name="password" class="form-control" formControlName="password"
                            placeholder="Enter Your Password" [(ngModel)]="user.password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors['required']">Password is required</div>
                            <div *ngIf="f.password.errors['pattern']">Password must contain more than 8 characters,1
                                upper case letter,and 1 special character </div>
                        </div>
                    </div>
                </div>
                <div class="forget"><a (click)="otpValidation()">Forget Password?</a></div>


            </form>
        </div>
        <button class="btn btn-primary" type="submit" id="login" (click)="login()">Login</button>
    </div>
   
    <div class="card" *ngIf="otp">

        
        <!-- <div class="btn btn-success btn-sm px-2 waves-effect " style="float:right">
            <button mat-flat-button>Basic</button>
          </div> -->
          
        <!-- <div class="row">
            <div class="col-xs-12" style="text-align: end;margin: 10px;">
            <button type="button" id="closeModal" (click)="onCancel()" class="btn-close" aria-label="Close"></button>Cancel
        </div>
        </div> -->
        <!-- <div class="col-xs-12">
            <div class="text-align" style="text-align: end;margin: 10px;">
              <button type="button" class="btn btn-danger" id="closeModal" (click)="onCancel()">Cancel</button>
            </div>
          </div> -->
        
       
        <div class="modal-body">
            <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn" (click)="onCancel()">close</mat-icon>
              </button><br>
            <h5 style="text-align: center;margin-left: 15px;">OTP GENERATE</h5>
            <hr>

            <form [formGroup]="otpgenerateform">

                <p *ngIf="errorMsg" class="alert alert-danger alert-dismissible fade show"
                    style="text-align:center ;margin-left: 20px;margin-right:20px;">Please fill Email or Mobile number
                    to proceed further!</p>
                <p *ngIf="showErrorMessage" class="alert alert-danger alert-dismissible fade show"
                    style="text-align:center ;margin-left: 20px;margin-right:20px;"><strong>Error!</strong>
                    {{errorMessage}}</p>
                <p *ngIf="errorOtp" class="alert alert-danger alert-dismissible fade show"
                    style="text-align:center ;margin-left: 20px;margin-right:20px;">Please Enter The Six Digit Otp</p>
                <p *ngIf="successMsgOtp" class="alert alert-success alert-dismissible fade show"
                    style="text-align:center ;margin-left: 20px;margin-right:20px;"><strong>Success!</strong> Otp Send
                    Successfully</p>
                <div class="row">
                    <label class="form-label">Preffered Generate Otp</label>
                    <mat-radio-group class="example-section" formControlName="otpgenerate"
                        (change)="validateOtp($event)">

                        <mat-radio-button class="md-primary" value="mobileNumber" [disabled]="showOtpComponent">Mobile
                            Number</mat-radio-button>
                        <mat-radio-button class="btn2" value="email" [disabled]="showOtpComponent">Email
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="row" *ngIf="g.otpgenerate.value=='mobileNumber'">

                    <label class="form-lable">Mobile Number</label>
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-telephone"></i>
                            </span>
                        </div>


                        <input type="text" formControlName="mobileNumber" placeholder="Enter your Mobile Number"
                            class="form-control" [ngClass]="{ 'is-invalid': submit && g.mobileNumber.errors }"
                            [readOnly]="disableMOb">

                        <div *ngIf="submit && g.mobileNumber.errors" class="invalid-feedback">
                            <div *ngIf="g.mobileNumber.errors['required']"> Mobile Number is required</div>
                            <div *ngIf="g.mobileNumber.errors['pattern']">Mobile Number should be in 10 Numbers</div>
                        </div>
                    </div>

                </div>
                <div class="row" *ngIf="g.otpgenerate.value=='email'">
                    <label class="form-lable">Email</label>
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-envelope"></i>
                            </span>
                        </div>

                        <input type="email" formControlName="emailid" class="form-control"
                            placeholder="Enter your  Email" [ngClass]="{ 'is-invalid': submit && g.emailid.errors }">
                        <div *ngIf="submit && g.emailid.errors" class="invalid-feedback">
                            <div *ngIf="g.emailid.errors['required']">Email is required</div>
                            <div *ngIf="g.emailid.errors['pattern']">Email Pattern Validation</div>
                        </div>
                    </div>

                </div>
                <div class="row" *ngIf="showOtpComponent">
                    <label class="form-lable">Enter Your Verify Otp</label>
                    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
                </div>


                <div class="row" style="margin-bottom:15px">
                    <div class="col" style="width: 30% ;">
                        <button class="btn btn-success form-control  btn-block" [disabled]="showOtpComponent"
                            id="button1" (click)="generate()">
                            Generate
                        </button>
                    </div>
                    <div class="col">

                        <button [disabled]="!showOtpComponent" class="btn btn-primary form-control btn-block"
                            id="submit" (click)="submitForm()">
                            Submit
                        </button>
                    </div>
                </div>


            </form>
        </div>
    </div>

</body>

</html>
<ng-template #template let-modal>
    <div class="modal-body" style="text-align: center;margin-bottom: 100px;" >
    <img src="../assets/errormsgfor500.jpg"  alt="Loading. Please wait." width="600" height="400" class="responsive"><br>
    <a (click)="gotoHome()" style="color: rgb(55, 89, 202);cursor: pointer;">Go to Home Page</a>
</div>

</ng-template>