<div class="container">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="changePasswordForm">
                <h5 style="text-align:center ;">Change Your Password</h5>
                <hr>
                <p *ngIf="showErrorMessage" class="alert alert-danger alert-dismissible fade show"
                    style="text-align:center ;margin-left: 20px;margin-right:20px;">
                    <strong>Error!</strong>{{errorMessage}}</p>
                <p *ngIf="succesMsg" class="alert alert-success alert-dismissible fade show"
                    style="text-align:center ;margin-left: 20px;margin-right:20px;"><strong>Success!</strong>Password
                    Updated Successfully!</p>

                <div class="row" style="margin-top: 10px;">
                    <label class="form-lable">Old Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-lock-fill"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" formControlName="oldPassword"
                            placeholder="Enter Your New Password"
                            [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
                        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.oldPassword.errors['required']">Old Password is required</div>
                            <div *ngIf="f.oldPassword.errors['pattern']">Old Password must contain more than 8
                                characters,1 upper case letter,and 1 special character </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="form-lable">New Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-lock-fill"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" formControlName="newpassword"
                            placeholder="Enter Your New Password"
                            [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }">
                        <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                            <div *ngIf="f.newpassword.errors['required']">Password is required</div>
                            <div *ngIf="f.newpassword.errors['pattern']">Password must contain more than 8 characters,1
                                upper case letter,and 1 special character </div>

                        </div>
                    </div>
                </div>


                <div class="row" style="margin-bottom:15px;margin-top: 15px;">
                    <div class="col" style="width: 30% ;">
                        <button class="btn btn-primary form-control  btn-block" id="button1" (click)="submit()">
                            Submit
                        </button>
                    </div>
                    <div class="col">

                        <button class="btn btn-danger form-control btn-block" id="submit" (click)="back()">
                            Back
                        </button>
                    </div>
                </div>

                <input style="height: 3rem;" type="file" class="form-control" (change)="onChange($event)"
                  accept=".txt,.jpeg,.png,.jpg,.pdf"><br><i class="fa fa-plus" (click)="updateFile()"></i>
                  
                  <button (click)="onUpload()">upload</button>
       
                  <button type="button" class="btn btn-success btn-xs mr-4" (click)="onDownload()" href='javascript:void(0)' title="Download" >
                    <i class="fa fa-download" style="color: white;"></i></button>
              
               <input type="number" formControlName="fileid">
               <input type="text" formControlName="filename">
               <input type="text" formControlName="fileType">
            </form>
        </div>
    </div>
</div>