<div class="container">
    <div class="card" style="width: 27rem;">
        <div class="card-body" >
            <form [formGroup]="changePasswordForm">
                <h2 style="text-align:center ;">Change Your Password</h2><hr>
                <p *ngIf="showErrorMessage" style="text-align: center;color: red;">{{errorMessage}}</p>
                <div class="card" *ngIf="succesMsg" style="background-color:mediumaquamarine;">
                    <p>Password Updated Successfully!</p>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <label class="form-lable">Old Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-lock-fill"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" formControlName="oldPassword" placeholder="Enter Your New Password" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
                        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.oldPassword.errors['required']">Old Password is required</div>
                            <div *ngIf="f.oldPassword.errors['pattern']">Old Password must contain more than 8 characters,1 upper case letter,and 1 special character </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <label class="form-lable">New Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-lock-fill"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" formControlName="newpassword" placeholder="Enter Your New Password" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }">
                        <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                            <div *ngIf="f.newpassword.errors['required']">Password is required</div>
                            <div *ngIf="f.newpassword.errors['pattern']">Password must contain more than 8 characters,1 upper case letter,and 1 special character </div>
                            
                        </div>
                    </div>
                </div>
    
                <div class="row" style="margin-top:15px;">
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="submit" (click)="submit()">Submit</button>
        
        
                </div>
               
            </form>
        </div>
    </div>
</div>
