<div class="loader" *ngIf="spinner" style="overflow: inherit;margin: 0px auto;position: fixed;z-index: 1000;top: 40%;">
</div>
<div [ngStyle]="{'filter': (blurMode ? 'blur(1px)' : 'blur(0px)') ,'pointer-events': (blurMode ? 'none' : 'visible')}">
    <div class="row" style="margin-bottom:20px;margin-left: 10px;margin-right: 10px;">
        <h2 style="text-align:center;">Add Holidays</h2>
        <div class="col-md-6" style="margin-bottom:10px;">
            <div class="container">
                <div class="card" >
                    <div class="card-body" style="margin-bottom: 20px;">
                        <form [formGroup]="holidays">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Date</label>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <input type="date" formControlName="date"  class="form-control" name=""
                                                    id="" [ngClass]="{'is-invalid': submitted && field.date.errors}"
                                                    [(ngModel)]="holiday.date" (change)="DateFormatchange($event)">
                                                    <div *ngIf="showDateMsg" class="alert alert-danger">Date already exits! Cannot have same date multiple times</div>
                                                <div *ngIf="submitted && field.date.errors" class="invalid-feedback">
                                                    <div *ngIf="field.date.errors">Date is Required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Day</label>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <input type="text" formControlName="day" class="form-control" name=""
                                                    id="" [ngClass]="{'is-invalid':submitted && field.day.errors}"
                                                    [(ngModel)]="holiday.day" readonly>
                                                <div *ngIf="submitted && field.day.errors" class="invalid-feedback">
                                                    <div *ngIf="field.day.errors">Day is Required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Year</label>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <input type="text" formControlName="year" class="form-control" name=""
                                                    id="" [ngClass]="{'is-invalid':submitted && field.year.errors}"
                                                    [(ngModel)]="holiday.year" readonly>
                                                <div *ngIf="submitted && field.year.errors" class="invalid-feedback">
                                                    <div *ngIf="field.year.errors">Year is Required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">

                                                <select formControlName="description" class="form-control" name="" id="" [ngClass]="{'is-invalid': submitted && field.description.errors}"
                                                [(ngModel)]="holiday.description" placeholder="Enter Description">
                                                    <option value="" selected >Select Holiday</option>
                                                    <option value="New Year">New Year</option>
                                                    <option value="MaharaSankranti">Mahara Sankranti / Lohri </option>
                                                    <option value="Pongal">Pongal</option>
                                                    <option value="Republic Day">Republic Day</option>
                                                    <option value="Holi">Holi</option>
                                                    <option value="Ugadi"> Ugadi / Gudi Padwa</option>
                                                    <option value="Tamil NewYear/Vishu">Tamil New Year / Vishu/ Bengal New Year</option>
                                                    <option value="May Day">May Day</option>
                                                    <option value="Independence Day">Independence Day</option>
                                                    <option value="Raksha Bandhan (Rakhi)">Raksha Bandhan (Rakhi)</option>
                                                    <option value="Janmastami ">Janmastami</option>
                                                    <option value="Ganesh Chaturthi/Vinayaka Chaturthi">Ganesh Chaturthi/Vinayaka Chaturthi</option>
                                                    <option value="Mahatma Gandhi Jayanti">Mahatma Gandhi Jayanti</option>
                                                    <option value="Saraswathi Pooja">Saraswathi Pooja</option>
                                                    <option value="Deepavali / Diwali">Deepavali / Diwali</option>
                                                    <option value="Karnataka Day"> Karnataka Day</option>
                                                    <option value="Christmas"> Christmas</option>
                                                </select>
                                                <!-- <input type="text" formControlName="description" class="form-control"
                                                    name="" id=""
                                                    [ngClass]="{'is-invalid': submitted && field.description.errors}"
                                                    [(ngModel)]="holiday.description" placeholder="Enter Description"> -->
                                                <div *ngIf="submitted && field.description.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="field.description.errors">Description is Required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>State</label>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Select Location</mat-label>
                                                    <mat-select #allSelected formControlName="workLocation" multiple>
                                                        <mat-option  (click)="toggleAllSelection()">Select All</mat-option>
                                                        <mat-option *ngFor="let location of locationList" [value]="location">{{location}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div *ngIf="submitted && field.workLocation.errors"
                                                    class="invalid-feedback" [(ngModel)]="holiday.workLocation">
                                                    <div *ngIf="field.workLocation.errors" class="invalid-feedback">
                                                        WorkLocation is Required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 justify-content-center texte-center">
                                            <button type="button" class="btn btn-primary" (click)="addLeave()"
                                            [disabled]="disableAddBtn">Add</button> 

                                            <button type="button" class="btn btn-primary"
                                            (click)="resetForm()">Reset</button>
                                            <!-- <i class="bi bi-box-arrow-in-left"></i> -->
                                            <button type="button" class="btn btn-danger"(click)="navigateToHome()" title="Back">Back</button>     
                                        </div>
                                    </div>
                                </div>
                            
                        </form>
                        <div style="text-align: center;">
                            <p class="alert alert-success" *ngIf="successMsg">Holidays Added Successfully!</p>
                            <p class="alert alert-danger" *ngIf="checkHolidayMsg"><strong>Error:</strong> Submit leaves before go back!</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-md-6">
            <div class="container" >
                <div class="card" *ngIf="true">
                    <div class="card-body">
                        <div class="table-responsive" style="height: 25.5rem;">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>HOLIDAYS</th>
                                        <th>DATE</th>
                                        <th>DAY</th>
                                        <th>YEAR</th>
                                        <th>LOCATION</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of ListData" >
                                        <td><span>{{item.description}}</span></td>
                                        <td><span>{{item.date}}</span></td>
                                        <td><span>{{item.day}}</span></td>
                                        <td><span>{{item.year}}</span></td>
                                        <td><span>{{item.workLocation}}</span></td>
                                        <td *ngIf="true"><button type="button" class="btn btn-primary"
                                                (click)="removeLeave(item)" [disabled]="disableRemoveBtn">Remove</button> </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p *ngIf="ListData.length == 0 " class="errorMsg"><span>Error:</span> No Holidays added</p>

                        </div>
                    <button class="btn btn-primary" [disabled]="disableSubmitBtn && ListData.length == 0 " (click)="submit()">Submit</button>
                    <button class="btn btn-primary" *ngIf="ListData.length != 0 " (click)="resetLeave()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>