<div class="card">  
    <form [formGroup]="holidays">
       <div class="mt-5 box">
           <div class="form-row">
               <div class="col-md-12">
                  <div class="form-group">
                   <label>Date</label>
                  </div>
                  <div class="form-row">
                   <div class="col">
                       <input type="date" formControlName="date" class="form-control" name="" id="" >
                   </div>
                  </div>
               </div>
               <div class="col-md-12">
                   <div class="form-group">
                    <label>Day</label>
                   </div>
                   <div class="form-row">
                    <div class="col">
                        <input type="text" formControlName="day" class="form-control" name="" id="" >
                    </div>
                   </div>
                </div>
                <div class="col-md-12">
                   <div class="form-group">
                    <label>Description</label>
                   </div>
                   <div class="form-row">
                    <div class="col">
                        <input type="text" formControlName="description" class="form-control" name="" id="" >
                    </div>
                   </div>
                </div>
                <div class="col-md-12">
                   <div class="form-group">
                    <label>Year</label>
                   </div>
                   <div class="form-row">
                    <div class="col">
                        <input type="number" formControlName="year" class="form-control" name="" id="" >
                    </div>
                   </div>
                </div>
                <div class="col-md-12">
                   <div class="form-group">
                    <label>Location</label>
                   </div>
                   <div class="form-row">
                    <div class="col">
                        <input type="text" formControlName="workLocation" class="form-control" name="" id="" >
                    </div>
                   </div>
                </div>
                <div class="form-row mt-4">
                   <div class="col-md-6">
                       <button type="button" class="btn btn-primary" (click)="addLeave()">Add</button>
                       <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
                   </div>
                </div>
           </div>
       </div>
    </form>
    <div class="col-md-8 mt-4 mb-4">
       <table class="table table-hover">
           <thead>
               <tr>
                   <th>DATE</th>
                   <th>DAY</th>
                   <th>DESCRIPTION</th>
                   <th>YEAR</th>
                   <th>LOCATION</th>
                   <th>ACTION</th>
               </tr>
           </thead>
           <tbody>
               <tr *ngFor="let item of ListData">
                   <td><span>{{item.date}}</span></td>
                   <td><span>{{item.day}}</span></td>
                   <td><span>{{item.description}}</span></td>
                   <td><span>{{item.year}}</span></td>
                   <td><span>{{item.location}}</span></td>
                   <td><button type="button" class="btn btn-primary" (click)="removeLeave(item)">Remove</button> </td>
               </tr>
           </tbody>
       </table>
    </div>
   </div>