<router-outlet></router-outlet> 

        <!-- <nav id="navbar-example2"  class="navbar bg-light px-3 mb-3 sticky-top">
            <a class="navbar-brand" href="#"><img src="../assets/cape.png" width="70px" height="40px" alt=""></a>
            <ul class="nav nav-pills" >
              <li class="nav-item" *ngIf="Products">
                 <a class="nav-link text-black-50"  [routerLink]="" (click)="loginPage()">Login</a> 
               
               </li>
              <li class="nav-item" *ngIf="Products">
                <a class="nav-link text-black-50" href="#about">About</a>
              </li>
              <li class="nav-item" *ngIf="Products">
                <a class="nav-link text-black-50" href="#Products">Product & Services</a>
              </li>
              <li class="nav-item" *ngIf="Products">
                <a class="nav-link text-black-50" href="#Contact">Contact</a>
              </li>
              
              <h2 *ngIf="afterLogin" style="text-align: center;"> Cape Electric Private Limited </h2>
              <li class="nav-item" *ngIf="afterLogin">
              <button mat-button style="margin-left:auto;">
                <mat-icon mat-raised-button matBadgePosition="above after"
                  matBadgeColor="accent" style='font-size:26px;color:rgb(1, 1, 17);' (click)="callCalculation()">
                  notifications</mat-icon>
              </button>
            </li>
            <li class="nav-item" *ngIf="afterLogin">
              <div class="dropdown">
                <button mat-button style='color:rgb(0, 0, 7);' data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                [matMenuTriggerFor]="menu">
                  <mat-icon style='font-size:30px;color:rgb(1, 1, 20);margin-left:auto;'>person</mat-icon>
                <b style="font-size: 16px;">
                 {{empid}}
                </b>
                </button>
                <mat-menu #menu="matMenu">    
                  <button mat-menu-item (click)="callProfile()">Profile</button>    
                  <button mat-menu-item (click)="signout()">Log out</button> 
                </mat-menu>
          
            </div>
            </li>
            </ul>
          </nav>
          <router-outlet></router-outlet> -->

   
