<html>

<body>


    <!-- <div class="container"> -->
        <mat-dialog-content>
        <div class="row align-items-center">
            <div class="table" style="max-width: none;justify-content: center;">
                <div  style="width: 25rem;">
                    <div class="card-body">
                        <form [formGroup]="forgotpasswordform">

                            <div class="form-group col-12">
                                <h5 style="text-align: center;">Reset Your Password</h5>
                            </div>
                            <hr>
                            <p *ngIf="forgot" class="alert alert-danger alert-dismissible fade show"
                                style="text-align:center ;margin-left: 20px;margin-right:20px;">
                                <strong>Error!</strong>password is does not match</p>
                            <p *ngIf="successMsgPasword" class="alert alert-success alert-dismissible fade show"
                                style="text-align:center ;margin-left: 20px;margin-right:20px;">
                                <strong>Success!</strong> Password Updated Successfully</p>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label class="form-label">New Password</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="bi bi-lock-fill"></i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control" formControlName="newPassword"
                                            placeholder="Enter Your New Password"
                                            [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.newPassword.errors['required']">Password is required</div>
                                            <div *ngIf="f.newPassword.errors['pattern']">Password must contain more than
                                                8 characters,1 upper case letter,and 1 special character </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

              
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label class="form-label"> Confirm Password</label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="bi bi-lock-fill"></i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control" formControlName="password"
                                            placeholder="Re Enter Your Password"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                            >
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors['required']">Password is required</div>
                                            <div *ngIf="f.password.errors['pattern']">Password must contain more than 8
                                                characters,1 upper case letter,and 1 special character </div>
                                            <div *ngIf="f.password.value !=f.newPassword.value">please Enter Correct
                                                Password
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:8px;margin-top: 15px;">
                                <div class="col" style="width: 30% ;">
                                    <button class="btn btn-primary form-control  btn-block" id="submit" style="cursor: pointer;"
                                        (click)="onSubmit()">
                                        Submit
                                    </button>
                                </div>
                                <div class="col">

                                    <button class="btn btn-danger form-control btn-block" id="cancel" (click)="back()" style="cursor: pointer;">
                                        Back
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    <!-- </div> -->

</mat-dialog-content>


</body>

</html>