<html>
    <body>

   
<div class="container">
    <div class="card ">
        <div class="card-body" style="width:400px ;">
            <form [formGroup]="forgotpasswordform" (ngSubmit)="onSubmit()">
            <h2 style="text-align: center;">Reset Your Password</h2>
            <hr>
            <label class="form-label">New Password</label>
        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="bi bi-lock-fill"></i>
                    </span>
                </div>
            <input type="password" class="form-control" formControlName="newPassword" placeholder="Enter Your New Password" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors['required']">Password is required</div>
                <div *ngIf="f.newPassword.errors['pattern']">Password must contain at least 8 characters</div>
            </div>
            </div>
        </div>
        <label class="form-label"> Confirm Password</label>
        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="bi bi-lock-fill"></i>
                    </span>
                </div>
            <input type="password"  class="form-control" formControlName="password" placeholder="Re Enter Your Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors['required']">Password is required</div>
                <div *ngIf="f.password.errors['pattern']">Password must contain at least 8 characters</div>
                <div *ngIf="f.password.value !=f.newPassword.value">please Enter Correct Password</div>
            </div>
        </div>

        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">Submit</button>


        </div>
    </form>
    </div>
    
</div>
</div>
</body>
</html>
