<div class="loader" *ngIf="spinner" style="overflow: inherit;margin: 0px auto;position: fixed;z-index: 1000;top: 40%;">
</div>

<div class="card">
    <div class="card-body">
        <form [formGroup]="profile" (ngSubmit)="submitFunction()">
            <div [ngStyle]="{'filter': (blurMode ? 'blur(1px)' : 'blur(0px)') ,'pointer-events': (blurMode ? 'none' : 'visible')}">
                <h2>Personal Details</h2>

                <div class="row">
                    <div class="col-md-3">
                        <label>EmployeeID</label>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-file-person"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" formControlName="empid"
                                    [(ngModel)]="register.empid" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">

                        <label class="form-label">Name</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-person-fill"></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" formControlName="name" [(ngModel)]="register.name"
                                [ngClass]="{'is-invalid': submitted && field.name.errors}">
                            <div *ngIf="submitted && field.name.errors" class="invalid-feedback">

                                <div *ngIf="field.name.errors">Name field is required</div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Gender</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-people-fill"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" formControlName="gender" [(ngModel)]="register.gender"
                                    [ngClass]="{'is-invalid': submitted && field.gender.errors}" readonly>
                                <div *ngIf="submitted && field.gender.errors" class="invalid-feedback">

                                    <div *ngIf="field.gender.errors">Gender field is required</div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Date of Birth</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-calendar-date-fill"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="date" formControlName="dob" [(ngModel)]="register.dob"
                                    [ngClass]="{'is-invalid': submitted && field.dob.errors}">
                                <div *ngIf="submitted && field.dob.errors" class="invalid-feedback">

                                    <div *ngIf="field.dob.errors">DoB field is required</div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Marital Status</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-postcard-heart-fill"></i>
                                    </span>
                                </div>
                                <select class="form-control" formControlName="maritalstatus"
                                    [(ngModel)]="register.maritalstatus"
                                    [ngClass]="{'is-invalid': submitted && field.maritalstatus.errors}">
                                    <option value="Married">Married</option>
                                    <option value="Unmarried">Unmarried </option>

                                </select>
                                <div *ngIf="submitted && field.maritalstatus.errors" class="invalid-feedback">

                                    <div *ngIf="field.maritalstatus.errors">Marital Status field is required</div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">

                        <label>EmailId</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-envelope-fill"></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" formControlName="emailid"
                                [(ngModel)]="register.emailid" readonly>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-telephone-fill"></i>
                                    </span>
                                </div>
                                <!-- <intl-input-phone  formControlName="mobilenumber" [(ngModel)]="register.mobilenumber" >
    
                                     </intl-input-phone> -->

                                <input class="form-control" type="text" formControlName="mobilenumber"
                                    [(ngModel)]="register.mobilenumber"
                                    [ngClass]="{'is-invalid': submitted && field.mobilenumber.errors}" readonly>
                                <div *ngIf="submitted && field.mobilenumber.errors" class="invalid-feedback">
                                    <div *ngIf="field.mobilenumber.errors">Mobile number field is required</div>
                                    <div *ngIf="field.mobilenumber.errors?.['min']">Enter 10 Digit Number</div>
                                    <div *ngIf="field.mobilenumber.errors?.['max']">Enter 10 Digit Number</div>
                                </div>
                            </div>
                            <mat-icon class="changeNumber" (click)="otp()" title="Change Contact Number">
                                published_with_changes
                            </mat-icon>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Emergency Contact</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-telephone-forward-fill"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" formControlName="alternatenumber"
                                    [(ngModel)]="register.alternatenumber">
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Work Details</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Supervisor Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-person-fill"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" formControlName="managername"
                                    [(ngModel)]="register.managername" [readOnly]="disableEdit">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Supervisor Email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-envelope-fill"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" formControlName="manageremail"
                                    [(ngModel)]="register.manageremail" [readOnly]="disableEdit">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Date of Joining</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-calendar-date-fill"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="date" formControlName="dateofjoining"
                                    [(ngModel)]="register.dateofjoining" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Department</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-card-heading"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" formControlName="department"
                                    [(ngModel)]="register.department" [readOnly]="disableEdit">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Designation</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-person-lines-fill"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" formControlName="designation"
                                    [(ngModel)]="register.designation" [readOnly]="disableEdit">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Total Experience</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-list-ul"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="number" name="" id=""
                                    formControlName="totalexperience" [(ngModel)]="register.totalexperience"
                                    [ngClass]="{'is-invalid': submitted && field.totalexperience.errors}" readonly>
                                <div *ngIf="submitted && field.totalexperience.errors" class="invalid-feedback">
                                    <div *ngIf="field.totalexperience.errors">Total Experience field is required</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>City</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-geo-alt-fill"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" formControlName="city"
                                    [(ngModel)]="register.city" [readOnly]="disableEdit">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>State</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-geo-alt-fill"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" formControlName="state"
                                    [(ngModel)]="register.state" [readOnly]="disableEdit">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center justify-content-center">
                        <div>
                            <p class="alert alert-success" *ngIf="successMsg">Profile Updated Successfully!</p>
                        </div>
                        <button type="button" class="btn btn-primary" (click)="updateDetails()">Update</button>
                        <button type="button" class="btn btn-danger" *ngIf="disableBackBtn" (click)=" profileCancel()"
                            title="Back"><i class="bi bi-box-arrow-in-left"></i>Back</button>
                        <button type="button" class="btn btn-secondary" (click)="employeeDetailsCancel()"
                            *ngIf="cancelProfile">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>