/* You can add global styles to this file, and also import other style files */ 
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.input-main-div .CountryNumberInput
{
  height: 36px!important;
  max-width: auto;
}

.chatbox__messages {
  margin-top: auto;
  display: flex;
  overflow-y: scroll;
  flex-direction: column-reverse !important;
}


.messages__item {
  background: #581B98;
  max-width: 60.6%;
  padding:8px !important;
  border-radius: 5px !important;
  width: fit-content;
  color:#ffffff !important;
}

.messages__item--operator {
  margin-left: auto;
}

.messages__item--visitor {
  margin-right: auto;
}
