<div class="example-container mat-elevation-z8" 
[ngStyle]="{'filter': (blurMode ? 'blur(2px)' : 'blur(0px)') ,'pointer-events': (blurMode ? 'none' : 'visible')}" >
  <mat-toolbar style="background-color:rgb(64, 177, 221);">

    <!-- <img src="../../assets/calendaar.jpg" alt="calendar"><mat-toolbarpadding-left: 92px; -->
    <mat-toolbar-row style="overflow: hidden;max-height: 500px;">
      <!-- margin-left: 68rem;rgb(9, 9, 211)rgb(185, 189, 192);left:72rem;style="margin-left: 450px;" -->
      <button mat-button style='color:rgb(0, 0, 7); '>
        <mat-icon style='font-size:30px;color:rgb(1, 1, 20);' (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h2> Cape Electric Private Limited </h2>
      <button mat-button style="margin-left:auto;">
        <mat-icon mat-raised-button [matBadge]=notification [matBadgeHidden]="hidden" matBadgePosition="above after"
          matBadgeColor="accent" style='font-size:26px;color:rgb(1, 1, 17);' (click)="callCalculation()">
          notifications</mat-icon>
      </button>
      <div class="dropdown">
        <button mat-button style='color:rgb(0, 0, 7);' data-toggle="dropdown" class="btn btn-default dropdown-toggle">
          <mat-icon style='font-size:30px;color:rgb(1, 1, 20);margin-left:auto;'>person</mat-icon>
        <b style="font-size: 16px;">
          {{empid}}
        </b>
        </button>
        <div class="dropdown-menu" role="menu">
          <span class="caret"></span>
        <span class="sr-only">Split button!</span>
          <mat-nav-list>
            <a mat-list-item (click)="callProfile()">Profile</a>
            <a mat-list-item (click)="signout()">Log Out</a>
          </mat-nav-list>
        </div>
    </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-tab-group [selectedIndex]="selected.value"
    (selectedIndexChange)="selected.setValue($event);getSelectedindex($event);" mat-align-tabs="center">
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
      <!-- <button mat-raised-button
            class="example-add-tab-button"
            (click)="addTab()" style="float:right;">
      Add new tab
    </button>

      <button mat-raised-button
              class="example-delete-tab-button"
              [disabled]="tabs.length === 1"
              (click)="removeTab(index)"  style="float:right;">
        Delete Tab
      </button> -->

      <!-- <div class="content" > -->
      <!-- <h1 *ngIf="tabName == 'Leave Management Systems'">Leave Management Systems</h1>
      <br>
      <button mat-flat-button
         *ngIf="tabName == 'Leave Management Systems'"
         style="color:blue" routerLink="/lmspage">Click here to access</button>
      <h1 *ngIf="tabName == 'Time Schedule'"> Time Schedule </h1>
    </div>style="justify-content: center;" text-decoration: underline;-->

      <div class="sidebar" *ngIf="tabName == 'Leave Management Systems'">
        <br>
        <div class="avatar" data-label="" id="avatar" style="justify-content: center;
        text-align: center;padding: 27px;margin-left: 38px">
          </div>
       <br>
       <br>
               <h4 style="justify-content: center;text-align: center;">  {{name}}</h4>
        <h6 class="text-muted" style="justify-content: center;text-align: center;"> {{department}} - {{designation}}</h6>
        <hr>
        <mat-nav-list>
          <a mat-list-item (click)="termsCondition(termsContent)">Leave Policy</a>
          <a mat-list-item (click)="callHolidays()">Public Holidays</a>
          <a mat-list-item (click)="callApplyLeave()">Apply Leave</a>
          <a mat-list-item (click)="callHistory()">My History</a>
          <hr>
          <a mat-list-item >Add holidays</a>
          <a mat-list-item (click)="callRegister()">Add Employee</a>
          <hr>
          <button type="button" class="btn btn-light" (click)="signout()">
            <i class="fa fa-sign-out" style="font-size:30px"></i></button>
        </mat-nav-list>
 
      </div>
      <div class="content" mat-elevation-z8>
 
    <app-lms-page *ngIf="lmspage && tabName == 'Leave Management Systems'"></app-lms-page>
    
    <!-- <app-leave-status *ngIf="leavestatus"></app-leave-status> -->
  <!-- <app-history></app-history> -->
  </div>
    </mat-tab>
  </mat-tab-group>

  <!-- <mat-tab-group>
    <mat-tab *ngFor="let yourVariable of yourLinks" let index = "index" [label]="yourVariable">
         <ng-template mat-tab-label>
            <a  mat-tab-link >
                   [routerLink]="yourVariable.path"
                  [routerLinkActiveOptions]="{exact: true}"
                  routerLinkActive #rla="routerLinkActive"> -->
  <!-- {{yourVariable.data['label']}} or however your links are set up -->
  <!--  </a>
        </ng-template>
   </mat-tab>
</mat-tab-group> -->
</div>

<!-- <div class="content" mat-elevation-z8 >
    <h1 > Leave management Systems </h1>
    <br>
    <button (click)="leave()">Apply Leave</button>
  </div> -->




<ng-template #termsContent let-modal>
  <div class="modal-header" style="text-align: center; display: block">
    <h2 class="modal-title" style="display: contents">CAPE ELECTRIC PRIVATE LIMITED</h2>
    <br>
    <p style="font-weight:bold ;">
      Leave Policy for the Year 2022
    </p>
  </div>
  <!-- <div class="modal-header">
        <button type="button" class="btn btn-primary" printSectionId="printdiv">Print</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel click')"><i class="bi bi-x icon"></i> Cancel</button>
        </div> -->
  <div class="modal-body" modal-xl style="height: 700px;;
        overflow-y: scroll;">
    <div class="card">
      <div class="card-body">
        <div class="row" style="display: block;">

        </div>
        <h6 style="display: contents">Objective</h6><br>

        <p>
          Leave Policy aims at providing the employees an opportunity to take a planned break from the stress ofbusiness
          so as
          to re-energize him/her and achieve a better balance between work and another social familyresponsibilities.
        </p>
        <p>
          The annual cycle is normally the calendar year –1st January to 31st December. The Employees, who are on
          probation,will be able to take one day of leave per month.
          All confirmed employees are entitled to leave,according to the rules and regulations stated below.
        </p>
        <div style="text-align: center; display: block">
          <h5 class="modal-title" style="display: contents">Casual Leave : 5 Days</h5>
        </div><br>
        <div style="text-align: center; display: block">
          <h5 class="modal-title" style="display: contents">Sick Leave : 5 Days</h5>
        </div><br>
        <p>
          If the SL is taken more than 2 days Medical Certificate should be provided.
        </p>
        <div style="text-align: center; display: block">
          <h5 class="modal-title" style="display: contents">Privilege Leave : 15Days</h5>

        </div><br>
        <p>
          All permanent employees are eligible for 15calendar day’s privilege leave. For employees joiningmidyear, leave
          will be computed from date of confirmation on pro-rata basis and would be creditedto the employees account on
          1st January each year.
          Employee should apply for the leave before 3workingdays to their immediate Supervisor.
        </p>


        <div style="text-align: center; display: block">
          <h5 class="modal-title" style="display: contents">Maternity Leave : As per norms</h5>
        </div><br>
        <div style="text-align: center; display: block">
          <h5 class="modal-title" style="display: contents">Public Holidays : 12 Days</h5>
        </div><br>
        <p>
          All Employees are advised to take proper approval in case of an absence of 3 Consecutive days.
          Absence without proper approval will be considered for Loss Of Pay for any leave requirement.
        </p>
        <p>
          Annually two times, Friday+Saturday+Sunday+Monday (2 Days Leave & 2 Days Holidays) will not be treated as 4
          days leave.
          Prior Approval required from Sales Head / HR Department.
        </p>
        <div style="text-align: center; display: block">
          <h5 class="modal-title" style="display: contents">Working Hours : 8.30 AM to 5.30 PM</h5>
        </div><br>
        <div style="text-align: center; display: block">
          <h5 class="modal-title" style="display: contents">Working Days : Monday to Saturday except 2 and 4th Saturday.
          </h5>
        </div><br>
        <div style="text-align: center; display: block">
          <h5 class="modal-title" style="display: contents">Lunch Time : 1:30 PM to 2:00 PM</h5>
        </div><br>
        <div class="col-xs-12">
          <div class="text-align" style="text-align: end;margin: 10px;">
            <button type="button" class="btn btn-danger" id="closeModal" (click)="onCancel()">Cancel</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>

<!-- <div class="content" mat-elevation-z8 >
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" style="background-color: #9494b8;">
            <mat-sidenav-content>

          <img class="avatar">
          <div>
            <p>{{name}}</p>
       </div>
          <div>
             <p>{{department}}</p>
        </div>
         <hr>

      </mat-sidenav-content>
      <mat-nav-list>
        <a mat-list-item ><button mat-button class="menu-button">
          <span> Leave Policy</span>
        </button></a>
        <a mat-list-item ><button mat-button class="menu-button">
          <span> Public Holidays </span>
        </button></a>
        <a mat-list-item  class="sideme">  <button mat-button class="menu-button">
          <span> My History </span>
        </button></a>
      </mat-nav-list>
    </mat-sidenav>


  </mat-sidenav-container>
</div> -->
<!-- <script>
  const avatars = document.querySelectorAll(".avatar");
    avatars.forEach(a => {
      const charCodeRed = a.dataset.label.charCodeAt(0);
      const charCodeGreen = a.dataset.label.charCodeAt(1) || charCodeRed;
      console.log(charCodeRed);
      const red = Math.pow(charCodeRed* 7) % 200;
      const green = Math.pow(charCodeGreen* 7) % 200;
      const blue = (red + green) % 200;
      a.style.background = 'rgb(${red}, ${green}, ${blue}';
    });
</script> -->
<!-- <p> Goodbye</p>-->
<div class="spinner" id="spinner" *ngIf="spinner">
  <div class="dot1"></div>
  <div class="dot2"></div>

</div> 

