@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
label{
    font-family: 'Poppins', sans-serif;
}
input {
    width:300px;
}
#errMsg{
    margin-top: 20px;
}

/*  */
.container{
   
    justify-content: center;
    width: 88%;  
    margin-top: 50px;
    border-radius: 6px;
    padding: 50px;
    margin-top: 50px;
    background-color: rgb(243, 237, 237);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
/* .container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 25px;
}
  .hover header::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    padding-bottom: -7px;
    border-radius: 8px;
    background-color: #4070f4;
    transition: width 2s; */
    /* content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out; */
/* } */
/* .hover header::after{
transform: scaleX(1);
  transform-origin: bottom left;
}    */
 
/* header{
    content: "";
    position: absolute;
    left: 0; 
      bottom: -2px; 
     height: 3px; 
    width: 27px; 
    
     border-radius: 8px;
    background-color: #4070f4;
    transition: width 2s; */
    /* display: inline-block;
    position: relative;
    color: #0087ca; */
  /* } */
 



/* header:hover{
   
    width: 120px;
      
} */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #101010;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #0934c1;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

