<form [formGroup]="RegisterationForm" (ngSubmit)="submitFunction()">
        <div class="container">
                <header class="hover-underline-animation" style="font-size:large; font-weight:bold; margin-bottom:10px; font-family: Sofia, sans-serif;
                font-size: 30px; 
                text-shadow: 3px 3px 3px #e2bcbc;">Registration</header>
                <div class="first">
                        <h3 class="font-effect-shadow-multiple" style="font-family: Trirong, serif; ">Personal Details</h3>
                        <div class="row">
                                <div class="col-md-4">
                                        <label class="form-label" >Employee Id</label>
                                        <div class="input-group">

                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                                <i class="bi bi-file-person"></i>

                                                        </span>

                                                </div>
                                                <input class="effect-1"  type="text" name="empid" 
                                                        placeholder="Enter Employee id" class="form-control"
                                                        formControlName="empid" [(ngModel)]="register.empid"
                                                        [ngClass]="{ 'is-invalid': submitted && field.empid.errors }">
                                                       
                                                        
                                                <div *ngIf="submitted && field.empid.errors" class="invalid-feedback">
                                                        <div *ngIf="field.empid.errors">Employee id is required</div>

                                                        <span class="focus-border"></span>
                                                </div>

                                        </div>
                                        <p *ngIf="prod" style="color:rgba(255, 0, 0, 0.844)">Employee id is already
                                                exists</p>
                                </div>
                              
                                <div class="col-md-4">
                                        <label class="form-label">Name</label>
                                        <div class="input-group">

                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                                <i class="bi bi-person-fill"></i> </span>
                                                </div>
                                                <input type="text" name="name" class="form-control"
                                                        formControlName="name" [(ngModel)]="register.name"  placeholder="Enter Name"
                                                        [ngClass]="{'is-invalid': submitted && field.name.errors}">
                                                <div *ngIf="submitted && field.name.errors" class="invalid-feedback">
                                                        <div *ngIf="field.name.errors">Name field is required</div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                       
                                        <label class="form-label">Gender</label>
                                        <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                                <i class="bi bi-people-fill"></i>
                                                        </span>
                                                </div>

                                                <select class="form-control" formControlName="gender"
                                                        [(ngModel)]="register.gender"  placeholder="Select Gender"
                                                        [ngClass]="{'is-invalid': submitted && field.gender.errors}">
                                                       
                                                        <option value="" selected>Select Option</option>
                                                        <option value="male">Male</option>
                                                        <option value="female">Female </option>
                                                        <option value="others">Others</option>
                                                </select>

                                                <div *ngIf="submitted && field.gender.errors" class="invalid-feedback">
                                                        <div *ngIf="field.gender.errors">Gender is required</div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                        <label class="form-label">Date Of Birth</label>
                                        <div class="input-group">

                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                                <i class="bi bi-calendar-date-fill"></i>
                                                        </span>
                                                </div>
                                                <input type="date" name="dob" class="form-control" formControlName="dob"
                                                        [(ngModel)]="register.dob"  placeholder="Select  Date of Birth"
                                                        [ngClass]="{'is-invalid': submitted && field.dob.errors}">
                                                <div *ngIf="submitted && field.dob.errors" class="invalid-feedback">
                                                        <div *ngIf="field.dob.errors">Date of birth is required</div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                        <label class="form-label">Marital Status</label>
                                        <div class="input-group">

                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                                <i class="bi bi-postcard-heart-fill"></i>
                                                        </span>
                                                </div>
                                                <select class="form-control" formControlName="maritalStatus"
                                                        [(ngModel)]="register.maritalstatus"  placeholder="Select Marital Status"
                                                        [ngClass]="{'is-invalid': submitted && field.maritalStatus.errors}">
                                                        <option value="" selected>Select Option</option>
                                                        <option value="married">Married</option>
                                                        <option value="Unmarried">Unmarried </option>

                                                </select>
                                                <div *ngIf="submitted && field.maritalStatus.errors"
                                                        class="invalid-feedback">

                                                        <div *ngIf="field.maritalStatus.errors">Marital status is
                                                                required</div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-4">
                                        <label class="form-label">Mobile Number</label>
                                        <div class="input-group">

                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                                <i class="bi bi-telephone-fill"></i>
                                                        </span>
                                                </div>
                                              
                                                <input type="text" name="mobilenumber" class="form-control"
                                                        formControlName="mobile" [(ngModel)]="register.mobilenumber"  placeholder="Enter Mobile Number"
                                                        [ngClass]="{'is-invalid': submitted && field.mobile.errors}">
                                                <div *ngIf="submitted && field.mobile.errors" class="invalid-feedback">
                                                        <div *ngIf="field.mobile.errors['required']">Mobile number is
                                                                required</div>
                                                        <div *ngIf="field.mobile.errors['min']">Enter 10 digit number
                                                        </div>
                                                        <div *ngIf="field.mobile.errors['max']">Enter 10 digit number
                                                        </div>
                                                </div>
                                        </div>
                                        <p *ngIf="prod1" style="color:rgba(255, 0, 0, 0.844)">Mobile Number is already
                                                exists</p>
                                </div>

                                <div class="col-md-4">
                                        <label class="form-label">Alternate Number</label>
                                        <div class="input-group">

                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                                <i class="bi bi-telephone-forward-fill"></i>
                                                        </span>
                                                </div>
                                                <input type="text" name="alternate"  class="form-control"
                                                        formControlName="alternate"  placeholder="Enter Alternate Mobile Number"
                                                        [(ngModel)]="register.alternatenumber"
                                                        [ngClass]="{'is-invalid': submitted && field.alternate.errors}">
                                                <div *ngIf="submitted && field.alternate.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="field.alternate.errors['required']">Alternate number
                                                                is
                                                                required</div>
                                                        <div *ngIf="field.alternate.errors['min']">Enter 10 digit number
                                                        </div>
                                                        <div *ngIf="field.alternate.errors['max']">Enter 10 digit number
                                                        </div>
                                                </div>
                                        </div>
                                        <p *ngIf="prod2" style="color:rgba(255, 0, 0, 0.844)">Alternate Number is already
                                                exists</p>
                                </div>
                                <div class="col-md-4">
                                        <label class="form-label">EmailId</label>
                                        <div class="input-group">

                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                                <i class="bi bi-envelope-fill"></i>
                                                        </span>
                                                </div>
                                                <input type="email" name="email"  class="form-control" (keyup)="getemail($event)"
                                                        formControlName="email" [(ngModel)]="register.emailid"  placeholder="Enter Email Id"
                                                        [ngClass]="{'is-invalid': submitted && field.email.errors}">
                                                <div *ngIf="submitted && field.email.errors" class="invalid-feedback">
                                                        <div *ngIf="field.email.errors">Email is required</div>
                                                        <div *ngIf="field.email.errors.pattern">Enter valid email</div>
                                                </div>
                                        </div>
                                        <p *ngIf="prod3" style="color:rgba(255, 0, 0, 0.844)">Email id is already
                                                exists</p>
                                </div>
                                <div class="col-md-4 ">
                                        <label class="form-label">Password</label>
                                        <div class="input-group">

                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                                <i class="bi bi-eye-slash-fill"></i> </span>
                                                </div>
                                                <input  type="password" name="Password" class="form-control"
                                                        formControlName="password" [(ngModel)]="register.password"  placeholder="Enter Password"
                                                        [ngClass]="{'is-invalid' : submitted && field.password.errors}">
                                                        <span class="focus-border"></span>
                                                <div *ngIf="submitted && field.password.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="field.password.errors">Password is required</div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="second" style="margin-top:30px;">
                                <h3 style="font-family: Trirong, serif;">Work Details</h3>
                                <div class="row">
                                        <div class="col-md-4">
                                                <label class="form-label">Date Of Joining</label>
                                                <div class="input-group">

                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                        <i class="bi bi-calendar-date-fill"></i>
                                                                </span>
                                                        </div>
                                                        <input type="date" max="{{currentDate|date:'yyyy-MM-dd'}}" name="doj" class="form-control"
                                                                formControlName="dateofjoining"  placeholder="Select Date Of Joining"
                                                                (change)="changevalue($event)"
                                                                [(ngModel)]="register.dateofjoining"
                                                                [ngClass]="{'is-invalid': submitted && field.dateofjoining.errors}">
                                                        <div *ngIf="submitted && field.dateofjoining.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="field.dateofjoining.errors">Date Of Joining
                                                                        is required</div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-md-4">
                                                <label class="form-label">Department</label>
                                                <div class="input-group">

                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                        <i class="bi bi-card-heading"></i>
                                                                </span>
                                                        </div>
                                                        <select formControlName="department" class="form-control"
                                                                [(ngModel)]="register.department"  placeholder="Select Department"
                                                                [ngClass]="{'is-invalid' : submitted && field.department.errors}">
                                                                <option value="" selected>Select Option</option>
                                                                <option value="Software">Software</option>
                                                                <option value="Design">Design</option>
                                                                <option value="Marketing">Marketing</option>
                                                                <option value="Sales">Sales</option>
                                                                 <option value="HR">HR</option>
                                                                 <option>Accounts</option>
                                                                
                                                                 <option value="SuperAdmin" *ngIf="superAdmin">SuperAdmin</option>



                                                        </select>
                                                        <div *ngIf="submitted && field.department.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="field.department.errors">Department is
                                                                        required
                                                                </div>
                                                        </div>
                                                </div>


                                        </div>
                                        <div class="col-md-4">
                                                <label class="form-label">Designation</label>
                                                <div class="input-group">

                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                        <i class="bi bi-person-lines-fill"></i>
                                                                </span>
                                                        </div>
                                                      
                                                        <select formControlName="designation" class="form-control"
                                                                [(ngModel)]="register.designation"  placeholder="Select Designation"
                                                                [ngClass]="{'is-invalid' : submitted && field.designation.errors}">
                                                                <option value="" selected>Select Option</option>
                                                                <option *ngIf="field.department.value=='Software'">Software Engineer trainee</option>
                                                                <option  *ngIf="field.department.value=='Software'">Software Developer</option>
                                                                <option *ngIf="field.department.value=='Design'">Designing</option>
                                                                <option *ngIf="field.department.value=='Sales'">Sales</option>
                                                                <option *ngIf="field.department.value=='Marketing'">Marketing</option>
                                                                <option *ngIf="field.department.value=='Sales'">Testing</option>
                                                                <option *ngIf="field.department.value=='Sales'">HR</option>
                                                                <option *ngIf="field.department.value=='Sales'">Manager</option>
                                                                <option *ngIf="field.department.value=='Sales'">MD</option>
                                                                <option *ngIf="field.department.value=='HR'">HR Manager</option>
                                                                <option *ngIf="field.department.value=='Accounts'">Accounts Manager</option>
                                                                <option *ngIf="field.department.value=='SuperAdmin'">SuperAdmin</option>


                                                         </select>
                                                        <div *ngIf="submitted && field.designation.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="field.designation.errors">Designation is
                                                                        required
                                                                </div>
                                                        </div>
                                                </div>

                                        </div>

                                        <div class="col-md-4" *ngIf="Hide">
                                                <label class="form-label">Other Experience</label>
                                                <div class="input-group">

                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                        <i class="bi bi-list-ul"></i> </span>
                                                        </div>
                                                        <input name="Other Experience" class="form-control"
                                                                formControlName="otherExperience"  placeholder="Enter Other Experience"
                                                                (keypress)="keyPressNumbers($event)"
                                                                (change)="changevalue($event)"
                                                                [(ngModel)]="register.otherexperience"
                                                                [ngClass]="{'is-invalid' : submitted && field.otherExperience.errors}">
                                                        <div *ngIf="submitted && field.otherExperience.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="field.otherExperience.errors">Experience
                                                                        required
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-md-4" *ngIf="Hide">
                                                <label class="form-label">CAPE Experience</label>
                                                <div class="input-group">

                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                        <i class="bi bi-list-ul"></i> </span>
                                                        </div>
                                                        <input type="number" name="CAPE Experience"  placeholder="Cape Experience(readonly)"
                                                                (keypress)="keyPressNumbers($event)"
                                                                class="form-control" readonly
                                                                formControlName="capeExperience"
                                                                [(ngModel)]="register.capeexperience"
                                                                [ngClass]="{'is-invalid' : submitted && field.capeExperience.errors}">
                                                        <div *ngIf="submitted && field.capeExperience.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="field.capeExperience.errors">Experience
                                                                        required
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-md-4"*ngIf="Hide">
                                                <label class="form-label">Total Experience</label>
                                                <div class="input-group">

                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                        <i class="bi bi-list-ul"></i> </span>
                                                        </div>
                                                        <input type="number" name="totalExperience" readonly  placeholder=" Total Experience (readonly)"
                                                                class="form-control" formControlName="totalExperience"
                                                                (keypress)="keyPressNumbers($event)"
                                                                [(ngModel)]="register.totalexperience"
                                                                [ngClass]="{'is-invalid' : submitted && field.totalExperience.errors}">
                                                        <div *ngIf="submitted && field.totalExperience.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="field.totalExperience.errors">Experience
                                                                        required
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-md-4 ">
                                                <label>Country</label>
                                                <div class="input-group">

                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                        <i class="bi bi-geo-alt-fill"></i>


                                                                </span>
                                                        </div>

                                                        <select formControlName="country"  (change)="changeCountry1($event)"  placeholder="Select Country"
                                                                class="form-control"
                                                                [(ngModel)]="register.country"
                                                                [ngClass]="{'is-invalid' : submitted && field.country.errors}" >
                                                                <option value="" selected>Select Country Name</option>
                                                         <option *ngFor="let country of countryList"
                                                         >{{country.name}}</option>
                                                               
                                                        </select>
                                                        <div *ngIf="submitted && field.country.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="field.country.errors">country is required
                                                                </div>
                                                        </div>
                                                </div>
                                </div>
                                        
                                        <div class="col-md-4 ">
                                                <label>State</label>
                                                <div class="input-group">

                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                        <i class="bi bi-geo-alt-fill"></i>


                                                                </span>
                                                        </div>

                                                       <select formControlName="state" 
                                                                class="form-control" [(ngModel)]="register.state"  placeholder="Select State"
                                                              
                                                               
                                                             
                                                             
                                                                [ngClass]="{'is-invalid' : submitted && field.state.errors}">
                                                                <!-- <option *ngFor="let state of States; let i = index">{{state}}
                                                                        
                                                        </option> -->
                                                        <option value="" selected>Select State Name</option>
                                                        <option *ngFor="let state of stateList1"
                                                       >{{state.name}}</option>
                                                              
                                                     
                                                       </select>
                                                        <div *ngIf="submitted && field.state.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="field.state.errors">State is required</div>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="col-md-4">
                                                <label class="form-label">City</label>
                                                <div class="input-group">

                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                        <i class="bi bi-geo-alt-fill"></i> </span>
                                                        </div>

                                                        <select name="city" class="form-control"
                                                                formControlName="city" [(ngModel)]="register.city"  placeholder="Enter City"
                                                               
                                                                
                                                          
                                                                [ngClass]="{'is-invalid': submitted && field.city.errors}">
                                                                <option value="" selected>Select City Name</option>
                                                                   <option *ngFor="let city of cities1">{{city}}
                                                                        
                                                        </option>
                                                               
                                                        </select>      
                                                             
                                                        
                                                        <div *ngIf="submitted && field.city.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="field.city.errors">City is required</div>
                                                        </div>
                                                </div>
                                        </div>
                                        
                                        <div class="col-md-4" *ngIf="Hide">
                                                <label class="form-label">Manager Name</label>
                                                <div class="input-group">

                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                        <i class="bi bi-person-fill"></i>
                                                                </span>
                                                        </div>
                                                        <input type="text" name="manager" class="form-control"
                                                                formControlName="managername"  placeholder="Enter Manager Name"
                                                                [(ngModel)]="register.managername"
                                                                [ngClass]="{'is-invalid': submitted && field.managername.errors}">
                                                        <div *ngIf="submitted && field.managername.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="field.managername.errors">Manager Name is
                                                                        required</div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-md-4" *ngIf="Hide">
                                                <label class="form-label">Manager Email</label>
                                                <div class="input-group">

                                                        <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                        <i class="bi bi-envelope-fill"></i>
                                                                </span>
                                                        </div>
                                                        <input type="email" name="Memail" class="form-control"  placeholder="Enter Manager Email"
                                                                formControlName="manageremail"
                                                                
                                                                [(ngModel)]="register.manageremail"
                                                                [ngClass]="{'is-invalid': submitted && field.manageremail.errors}">
                                                        <div *ngIf="submitted && field.manageremail.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="field.manageremail.errors">Manager Email is
                                                                        required</div>
                                                                <div *ngIf="field.email.errors.pattern">Enter valid
                                                                        email</div>
                                                        </div>
                                                </div>
                                        </div>

                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12 text-center justify-content-center">
                                        <div>
                                                <p class="alert alert-success alert-dismissible fade show"
                                                        *ngIf="priyanka" id="errMsg"><strong>Success!</strong>
                                                        Registered.</p>
                                                        <p *ngIf="showErrorMessage" class="alert alert-danger alert-dismissible fade show"

                    style="text-align:center ;margin-left: 20px;margin-right:20px;"><strong>Error!</strong>

                    {{errorMessage}}</p>
                                                       
                                                       
                                        </div>
                                        <button type="submit" class="btn btn-primary"
                                                style="margin-top:40px;">Save</button>
                                        <button type="submit" (click)="Home()" class="btn btn-danger"
                                                style="margin-left:20px; margin-top:40px;">Back</button>
                                </div>

                        </div>



                </div>
        </div>
</form>  