<form >
    <div class="row">
    <div class="col-md-3"> 
        
            <label class="form-label">Employee Id</label>
            <input type="text" name="empid" class="form-control"[formControl]="empid">
            
        
    </div>
    <div class="col-md-3">        
       
            <label class="form-label">Name</label>
            <input type="text" name="name" class="form-control"[formControl]="name">
            
     
    </div>
   
        <div class="col-md-3"> 
           
                <label class="form-label">Gender</label>
                <input type="text" name="gender" class="form-control"[formControl]="gender">
                
            </div>
        
        <div class="col-md-3">        
            
                <label class="form-label">Date Of Birth</label>
                <input type="text" name="dob" class="form-control"[formControl]="dob">
                
            
        </div>
        
            <div class="col-md-3"> 
                
                    <label class="form-label">Marital Status</label>
                    <input type="text"name="maritalStatus" class="form-control"[formControl]="maritalStatus">
                    
               
            </div>
            <div class="col-md-3">        
                <div id="d">
                    <label class="form-label">Mobile Number</label>
                    <input type="text" name="mobile" class="form-control"[formControl]="mobile">
                    
                </div>
            </div>
          
                <div class="col-md-3"> 
                    <div id="d">
                        <label class="form-label">Alternate Number</label>
                        <input type="text" name="alternate" class="form-control"[formControl]="alternate">
                        
                    </div>
                </div>
                <div class="col-md-3">        
                    <div id="d">
                        <label class="form-label">EmailId</label>
                        <input type="text" name="email" class="form-control"[formControl]="email">
                        
                    </div>
                </div>
               
                    <div class="col-md-3"> 
                       
                            <label class="form-label">Date Of Joining</label>
                            <input type="text" name="doj" class="form-control"[formControl]="doj">
                            
                        
                    </div>
                    <div class="col-md-3">        
                       
                            <label class="form-label">Department</label>
                            <input type="text" name="department" class="form-control"[formControl]="department">
                            
                      
                    </div>
                    
                        <div class="col-md-3"> 
                           
                                <label class="form-label">Designation</label>
                                <input type="text" name="designation" class="form-control"[formControl]="designation">
                                
                           
                        </div>
                        <div class="col-md-3">        
                            
                                <label class="form-label">Total Experience</label>
                                <input type="text" name="totalExperience" class="form-control" [formControl]="totalExperience">
                                
                           
                        </div>
                       
                            <div class="col-md-3 "> 
                               
                                    <label class="form-label">OfficeLocation</label>
                                    <input type="text" name="officeLocation" class="form-control" [formControl]="officeLocation">
                                    
                               
                            </div>
                            <!-- <div class="col-md-4">        
                                
                                    <label class="form-label">Created Date</label>
                                    <input type="text" name="createdDate" class="form-control"[formControl]="createdDate">
                                    
                            
                            </div>
                          
                                <div class="col-md-4"> 
                                    
                                        <label class="form-label"> Created By</label>
                                        <input type="text" name="createdBy" class="form-control"[formControl]="createdBy">
                                        
                                   
                                </div>
                                <div class="col-md-4">        
                                  
                                        <label class="form-label">Updated Date</label>
                                        <input type="text" name="updatedDate" class="form-control" [formControl]="updatedDate">
                                        
                                   
                                </div>
                               
                                    <div class="col-md-4"> 
                                       
                                            <label class="form-label"> Updated By</label>
                                            <input type="text" name="updateBy" class="form-control" [formControl]="updatedBy">
                                            
                                        
                                    </div> -->
                                    </div>
                                
                                </form>
                               
        
    