
  
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  /*  */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }
  h1{
    color: orangered;
 font-family: "arial";
 font-size: 3em;
 margin: 10px 0 0 10px;
 white-space: nowrap;
 overflow: hidden;
 width: 100%;
 animation: animtext 4s steps(80, end); 
  transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
@keyframes animtext { 
 from {
     width: 0;
    transition: all 2s ease-in-out;
 } 
}